/* ============
	 CHECKBOX
	 =============== */

form:not(.layout-builder-add-block):not(.layout-builder-update-block){
	//move checkbox options inline
	.form-checkboxes{
		margin-bottom: 0;
		@include safeFlex(row,wrap,null,null);
		fieldset &{
			margin-left: -2rem;
			margin-right: -2rem;
		}
	}

	//move input inline with label
	.js-form-type-checkbox{
		width: auto;
		margin-right: 2rem;
		label,input{
			display: inline-block;
		}
		label{
			font-weight: $regular;
			margin-bottom: 0;
		}
		input[type="checkbox"]{
			margin-right: .6rem;
		}
		
	}
	// custom checkboxes (defined in forms.scss, set with variable from macros.twig)
	.custom-options{
		.js-form-type-checkbox{
			@include customOptions;
		}
	}
}//end form
