<a name="custom-templates" id="custom-templates"></a>

<div class="doc-text">
	<p>new custom templates, customizing a default theme template, customizing a module or core template</p>
	<div class="doc-section">
		<h4 class="doc-section-title"></h4>
		<div class="doc-section-inner">
			<p></p>
		</div>
	</div>
</div>


