/* ==============
   SUPPORT BOOK NODE
===================== */
.node-support-book.node-content{
	.main-node-content{
		@include sectionLimit;
		@include clearFix;
	}

	//nav section
	.node-section#section-2{
		padding-left: 20px;
		padding-right: 20px;
		@include tab{
			float: left;
			width: 350px;
		}
	}

	//main-content section
	.node-section#section-3{
		padding-left: 20px;
		padding-right: 20px;
		@include tab{
			float: left;
			@include calc(width, "100% - 350px");
			padding-left: 40px;
		}
	}

	//body field
	.block-field.block-body{
		padding-left: 0;
		padding-right: 0;
		max-width: none;
	}

	//restricted access message
	&:not(.logged-in){
		.layout-container > main{
			position: relative;
		}
		.restricted{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			& > div{
				max-width: $textMax + 40px;
				border: 1px solid $borderRule;
				padding: 40px 30px;
				@include auto;
				position: absolute;
				top: 50%;
				left: 50%;
				@include translate(-50%,-50%);
			}
		}
	}//end restricted access

}//end support book


/* PATTERN LAB ONLY
----------------------- */
.pl .node--type-support_book{
	.sidebar{
		.pl-spacer{
			margin-top: 0;
		}
	}
}