<a name="misc-git" id="misc-git"></a>

<div class="doc-text">
	<div class="doc-section">
		<h4 class="doc-section-title">Working with Git</h4>
		<div class="doc-section-inner">
			<p>Electric Citizen uses a <a href="https://github.com/" target="_blank">Git</a> workflow to run our Continuous Integrations. You can work with Git either directly through the command line, or with a Git Client software application like <a href="https://www.git-tower.com/mac/" target="_blank">Tower</a> or <a href="https://www.gitkraken.com/" target="_blank">Kraken</a>. <strong>NOTE:</strong> We have found better Drupal 8 git results with Tower over Kraken.</p>
			<p>You should push your work to git early and often. The more frequent your pushes and the smaller the changes, the easier it is to revert them if its ever needed. Changes from other developers should be pulled in as soon as the become available.</p>
			<p><strong>Personal Task branches—</strong> All of your work should be done on personal task branches—never in the develop or master repo branches. Once your work is pushed and approved to go the develop environment, your branch is merged into develop (or master) and then deleted. <strong>NOTE:</strong> After each task is complete and merged into the main repo, you should refresh your local site from the canonical site and pull any changes from other developers. Your next task will then start on a new branch.</p>
			<p><strong>Commit Comments—</strong> Git commits should have descriptive comments that let another developer know what changes/additions/removals you made. When possible, include a ticket number with your commit message.</p>
			<p><strong>Onboarding/Workflow readmes—</strong> All Electric Citizen Drupal 8 sites (with the exception of Electriccitizen.com) have readme docs directly in the repo that will provide specific instructions to spin up a local copy of that site and the workflow needed to push/pull.</p>
		</div>
	</div>
</div>


