<a name="misc-git" id="misc-git"></a>

<div class="doc-text">
	<p>repo branches, pulling and pushing, always use readme for each repo, tower, commit comments</p>
	<div class="doc-section">
		<h4 class="doc-section-title"></h4>
		<div class="doc-section-inner">
			<p></p>
		</div>
	</div>
</div>


