{#
 #  This files used as the canonical style variables guide.
 #  Variables set here will affect elements in both pattern lab and drupal unless otherwise noted.
 #
 #
 #  FOR ALL STYLE MACROS-use just plain css friendly text between the macro tags with no extra spaces, please. When changing macros, please change the Current= value as well.
 #
#}

<p>Macros set here define theming variables in their corresponding twig files in both Pattern Lab and Drupal.</p>

{#######  SEARCH VARIABLES  #######}
<div class="macro-tile">
<p><strong>Search Block Style</strong></br>
	VARIABLES= toggle, box</br>
</p>
</div>
{% macro searchBox() %}toggle{% endmacro %}


{#######  FORM VARIABLES  #######}
<div class="macro-tile">
<p><strong>Form Elements</strong></br>
	VARIABLES= default, custom-options</br>
</p>
</div>
{% macro formElements() %}custom-options{% endmacro %}





