/* ================
	QUOTE WIDGET
======================= */
.paragraph--type--pullquote{
	@include textConstrain;
	.widget-title{
		margin-bottom: $spaceMd;
	}
	.widget-wrapper{
		//move side by side when in a single column
		.full &{
			@include safeFlex(row,wrap,start,center);
			@include bleed(padding,32px);
			@include tab{
				.field-image{
					margin-bottom: 0;
				}
				.quote-wrapper{
					&:not(:only-child){
						@include calc(width, "100% - 180px");
					}
				}
			}
		}//end full
	}//end widget wrapper
	//quote text
	.field-image{
		width: 240px;
		@include auto;
		margin-bottom: $spaceSm;
		.field-media-image{
			border-radius: 50%;
			overflow: hidden;
		}
	}
	.field-quote{
		@include quote;
	}//end long text
	//source
	.field-source{
		text-align: right;
		position: relative;
		font-weight: bold;
		text-transform: uppercase;
		&:before{
			content: '–';
			left: -2.5rem;
		}
		@include tab{
			font-size: 1.8rem;
		}
	}
}//end pullquote widget
