/* ============
   PAGES GLOBAL
=============== */
html > body:not(.is-front):not(.path-node):not(.node-type-page){
	.layout-content{
		max-width: $contentStop + 40px;
		@include auto;
		padding: 0 $siteMarginMobile 6rem;
	}
	#block-citizen-patterns-content{
		padding-top: $spaceLg;
	}
	.block-page-title-block{
		margin-bottom: $spaceLg;
	}

}//system pages


/* FRONT
-------------- */
.is-front{
	//end banner section
	.node-section#section-2{
		margin-top: $spaceLg;
	}//banner section
}//end front


/* USER DASHBOARD
----------------------- */
article.user-dashboard{
	margin-top: -4rem;
	margin-bottom: $spaceXl;
	//image, username, since, roles
	& > .layout--onecol:first-child{
		position: relative;
		padding: $spaceXl 0;
		margin-bottom: $spaceLg;
		&:after{
			@include fullBack($lightGrey);
		}
		.layout__region--content{
			max-width: $textMax;
			@include auto;
			@include clearFix;
		}
		.block-field-user-image{
			width: 250px;
			@include onlySmall{
				margin-bottom: $spaceSm;
				@include auto;
			}
			@include tab{
				float: left;
			}
		}
	}//end image username since roles

	.block-field.block-name{
		@include tab{
			&:nth-child(2){
				@include calc(width, "100% - 310px");
				margin-left: 310px;
			}
		}
	}

	.block-field.block-created{
		@include tab{
			&:nth-child(3){
				@include calc(width, "100% - 310px");
				margin-left: 310px;
			}
		}
		.user-created{
			margin-bottom: $spaceXs;
		}
		.user-roles{
			span.role:not(:last-child){
				margin-right: .7rem;
				position: relative;
				padding-right: 1rem;
				&:after{
					@include vertRule(right,80%,$borderRule);
				}
			}
		}
	}//end created

	// links & recently Authored
	& > .layout--onecol:nth-child(2){
		.layout__region--content{
			@include safeFlex(row,wrap,null,null);
		}
	}

	//quicklinks
	.block-field-user-quick-links{
		margin-bottom: $spaceLg;
		width: 100%;
		@include contentStop{
			width: 50%;
			padding-right: 40px;
		}
		ul{
			@include listReset;
			@include bleed(20px);
			@include safeFlex(row,wrap,center,center);
			li{
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: $spaceSm;
				a{
					width: 240px;
					height: 55px;
					display: table-cell;
					vertical-align: middle;
					font-size: 1.6rem;
					padding: 0;
				}
			}
		}
	}

	// Recently Authored
	.block:not(.block-field-user-quick-links){
		width: 100%;
		@include contentStop{
			width: 50%;
			padding-left: 40px;
		}
		.view.user-dashboard{
			text-align: center;
			.views-row{
				margin-bottom: $spaceSm;
			}
		}
	}//end recently added

	//hide member for
	& > .js-form-type-item{
		display: none;
	}
}//end user dashboard






