/* ============
   PAGES GLOBAL
=============== */
html > body:not(.is-front):not(.path-node):not(.node-type-page){
	.layout-content{
		max-width: $contentStop + 40px;
		@include auto;
		padding: 0 $siteMarginMobile 6rem;
	}
	#block-citizen-patterns-content{
		padding-top: $spaceLg;
	}
	.block-page-title-block{
		margin-bottom: $spaceLg;
	}

}//system pages


/* FRONT
-------------- */
.is-front{
	//end banner section
	.node-section#section-2{
		margin-top: $spaceLg;
	}//banner section
}//end front
