/* ============
   USER DASHBOARD
=============== */

/* TOUR */
.user-tour{
	display: none;
	position: fixed;
	top: 20%;
	right: 0;
	z-index: 999;
	width: 240px;
	background: $black;
	padding: 30px 20px;
	color: $white;
	box-shadow: -8px 8px 16px rgba(35,35,35,0.2);
	h2{
		font-size: 2.2rem;
		margin-bottom: $spaceMd;
	}
	p{
		font-size: 1.6rem;
		margin-bottom: $spaceSm;
		a{
			color: $transWhite;
			text-decoration: underline;
			&:hover,&:focus{
				color: $white;
				text-decoration: none;
			}
		}
	}
	@include onlySmall{
		display: none !important;
	}
	.tour-close{
		@include outlineButton($white);
		font-size: 1.5rem;
		padding: 1rem 1.5rem;
		width: 100%;
		max-width: 200px;
		margin: 0 auto;
		&:hover,&:focus{
			background: $white;
			color: $black;
		}
	}
}//end user-tour

/* DASHBOARD */
article.user-dashboard{
	margin-top: -$elementSpace;
	margin-bottom: $spaceXl;
	//image, username, since, roles
	& > .layout--onecol:first-child{
		position: relative;
		padding: $spaceXl 0;
		margin-bottom: $spaceLg;
		&:after{
			@include fullBack($lightGrey);
		}
		.layout__region--content{
			max-width: $textMax;
			@include auto;
			@include clearFix;
		}
		.block-field.block-uid{
			width: 250px;
			.user-image{
				width: 100%;
				padding-bottom: 100%;
				border-radius: 50%;
			}
			@include onlySmall{
				margin-bottom: $spaceSm;
				@include auto;
			}
			@include tab{
				float: left;
				margin-bottom: 0;
			}
		}
	}//end image username since roles

	.block-field.block-name{
		@include tab{
			&:nth-child(2){
				@include calc(width, "100% - 310px");
				margin-left: 310px;
			}
		}
	}

	.block-field.block-created{
		@include tab{
			&:nth-child(3){
				@include calc(width, "100% - 310px");
				margin-left: 310px;
			}
		}
		.user-created{
			margin-bottom: $spaceXs;
		}
		.user-roles{
			margin-bottom: $spaceSm;
			span.role:not(:last-child){
				margin-right: .7rem;
				position: relative;
				padding-right: 1rem;
				&:after{
					@include vertRule(right,80%,$borderRule);
				}
			}
		}
		.button-outline{
			padding: .5rem 1.5rem;
		}
	}//end created

	// links & recently Authored
	& > .layout--onecol:nth-child(2){
		.layout__region--content{
			@include safeFlex(row,wrap,null,null);
		}
	}

	//quicklinks
	.block-field-user-quick-links{
		margin-bottom: $spaceLg;
		width: 100%;
		@include contentStop{
			width: 50%;
			padding-right: 40px;
		}
		ul{
			@include listReset;
			@include bleed(padding,20px);
			@include safeFlex(row,wrap,center,center);
			li{
				margin-bottom: $spaceSm;
				a{
					width: 240px;
					height: 55px;
					display: table-cell;
					vertical-align: middle;
					font-size: 1.6rem;
					padding: 0;
				}
			}
		}
	}

	// Recently Authored
	.block:not(.block-field-user-quick-links){
		width: 100%;
		@include contentStop{
			width: 50%;
			padding-left: 40px;
		}
		.view.user-dashboard{
			text-align: center;
			.views-row{
				margin-bottom: $spaceSm;
			}
		}
	}//end recently added

	//hide member for
	& > .js-form-type-item{
		display: none;
	}
}//end user dashboard






