{#
	DRUPAL: This template is embedded in the Drupal horizontal rule paragraph template.
#}

{{ rule_instructions }}
{% block plwidgetopen %}
	<div class="paragraph paragraph--type--horizontal-rule">
{% endblock %}

				{% block rule %}
					<hr width="100%" align="center">
				{% endblock %}
				
{% block plwidgetclose %}
	</div>
{% endblock %}