/* ==============
	 BUTTONS
================== */

/* BUTTON MIXINS
------------------ */

///mixin - button
@mixin button{
	background-color: $link;
	border:none;
	color: $white;
	line-height: 1.15;
	padding: .5em 2em;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: $header;
	font-weight: $heavy;
	margin-bottom: .5em;
	&:hover,&:focus {
		color: $white;
		background-color: $hoverLink;
		@include transAll(.3s);
	}
}

///mixin - outlineButton
@mixin outlineButton($outlineColor){
	@include button;
	background: transparent;
	border: 2px solid $outlineColor;
	color: $outlineColor;
	&:hover,&:focus{
		background: $outlineColor;
		color: $white;
		border-color: $outlineColor;
		@include transAll(.3s);
	}
}


//button class
.button {
	@include button;
}

//outlineButtons
.button-outline{
	@include outlineButton($link);
}


/* PATTERN LAB ONLY
--------------- */

//background for outlineButton example
.pl.background{
	padding: 2em 3em;
	width: 100%;
	background: $hoverLink;
}
