/* ===============
   layout builder admin theming
=================== */
//hide the builder label and only show it later when in layout builder
.builder-label{
	display: none;
}

.layout-builder-form{
	max-width: $contentStop;
	@include auto;
	.form-actions{
		@include safeFlex(row,wrap,start,center);
		input.button{
			margin-right: 1rem;
			min-width: 230px;
			&:last-of-type{
				margin-right: 3.5rem;
			}
			&#edit-discard-changes{
				@include cautionButton;
			}
			&#edit-revert{
				@include warningButton;
			}
		}
		.js-form-type-checkbox{
			@include customOptions;
		}
	}//end form actions
	#layout-builder{
		overflow-x: hidden;
	}
	.remove-section{
		margin-left: 10px;
		top: -6px;
	}
	.builder-label{
		display: table;
		color: $white;
		background: $red;
		padding: 4px 8px;
		margin-bottom: .5rem;
	}
	.vertical-tabs{
		display: none;
	}
}//end layout builder form

//Allow text to wrap down so user can see entire message
.ui-dialog .ui-dialog-title{
	white-space: normal;
}

.layout-builder-discard-changes{
	max-width: $contentStop;
	@include auto;
	.form-actions{
		padding-top: $spaceSm;
		.button{
			margin-right: 1rem;
			min-width: 140px;
			&#edit-cancel{
				@include cautionButton;
			}
		}
	}
}

.layout-builder-revert-overrides{
	@extend .layout-builder-discard-changes;
}
