{#
 Drupal: This file is embedded in the site-header.twig pattern lab file and in the superfish main Drupal block. Menu alignment macros define the position in the header: left, right, center.
#}

		 
{% block sfMainBlock %}
	<div id="block-citizen-patterns-mainnavigation" class="block block-superfishmain">
		<a id="main-navigation"></a>
		{% block sfContent %}
			{# need to add this for superfish in pl because the bars icon does not work as pseudo css element and because its added via the superfish JS in Drupal, we can't jsut extend it over to the Drupal block #}
			{% block plMobileToggle %}
				<div class="sf-accordion-toggle sf-style-none">
					<a id="superfish-main-toggle" href="#" aria-label="expand">
						<i class="fas fa-bars"></i>
					</a>
				</div>	
			{% endblock %}
			{% block sfMenuContent %}
				{# menu content goes here#}	
			{% endblock %}
		{% endblock %}
	</div>
{% endblock %}
			

