@import '_color-vars.scss';

/* ===========================
    COMPONENT SPECIFIC COLORS
=============================   */

/* GENERAL COLORS
---------------------- */

$siteBack   : $white;
$headerBack : $offWhite;
$body       : $darkGrey;
$borderRule : $lightBlack;
$link        : $red;
$activeLink  : $black;
$hoverLink   : $midGrey;


/* SUPERFISH COLORS
---------------------- */
//no background or light background
$sfTopLink:       $black;
$sfTopBackHover:  $lightGrey;
$sfTopActive:      $link;
$sfChildLink:     $link;
$sfChildActive:    $black;
$sfDropdown:       $lightGrey;

//dark background
$navBack:            $darkGrey;
$sfTopBackHoverRev:  $darkGrey;
$sfTopLinkRev:       $white;
$sfTopActiveRev:     $link;
$sfChildLinkRev:     $offWhite;
$sfChildActiveRev:   $white;
$sfDropdownRev:      $darkGrey;

