/* ==================
    global views settings
==================== */

.view{
	.item-list > ul{
		@include listReset;
		& > li{
			width: 100%;
			&:not(:last-child){
				margin-bottom: $spaceMd;
			}
		}
	}
	.views-row{
		width: 100%;
		&:not(:last-child){
			margin-bottom: $spaceMd;
		}
	}
}//end view
