/* ==============
	 GLOBAL STYLES
================= */
body {
	background: $siteBack;
	& > .overflow-guard{
		overflow-x: hidden;
	}
}
p{
	margin-top: 0;
}

.container-inline div{
	display: inline;
}


/* SKIP NAV
------------- */
.overflow-guard > a.focusable{
	&:focus{
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 9999;
		display: block;
		width: 100%;
		background: $white;
		padding: .25em 1em;
	}
}


/* KINTING
-------------- */
.kint{
	position: fixed;
	z-index: 9999;
	top: 200px;
	right: 5%;
	width: 90%;
	max-width: 800px;
	@include calc(max-height, "90% - 200px");
	overflow: scroll;
}

/* BACK TO TOP
----------------- */
//back to table of contents option
.back-anchor{
	display: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	box-shadow: 3px 3px 5px rgba(35,35,35, 0.35);
	z-index: 9999;
	border-radius: 50%;
	a{
		display: block;
		width: 50px;
		height: 50px;
		background: rgba(35,35,35,0.85);
		border-radius: 50%;
		text-indent: -300vw;
		position: relative;
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			@include translate(-50%,-50%);
			width: 30px;
			height: 30px;
			@include backAnchorArrow;
		}
	}
}//end back anchor

/*  FILE ICONS
--------------- */
//pdf
a[href$='.pdf']{
	position: relative;
	padding-left: 22px;
	&:before{
		content:'';
		display: block;
		position: absolute;
		left: 0;
		top: 4px;
		width: 15px;
		height: 18px;
		@include sprite-file-pdf;
		@include iconSize;
	}
	&:hover:before,&:focus:before{
		@include opacity(.7);
	}
}
//word
a[href$='.doc'],a[href$=".docx"]{
	position: relative;
	padding-left: 22px;
	&:before{
		content:'';
		display: block;
		position: absolute;
		left: 0;
		top: 4px;
		width: 15px;
		height: 18px;
		@include sprite-file-word;
		@include iconSize;
	}
	&:hover:before,&:focus:before{
		@include opacity(.7);
	}
}
//excel
a[href$='.xls'],a[href$=".xlsx"]{
	position: relative;
	padding-left: 22px;
	&:before{
		content:'';
		display: block;
		position: absolute;
		left: 0;
		top: 4px;
		width: 15px;
		height: 18px;
		@include sprite-file-xls;
		@include iconSize;
	}
	&:hover:before,&:focus:hover{
		@include opacity(.7);
	}
}
//powerpoint
a[href$='.ppt'],a[href$=".pptx"]{
	position: relative;
	padding-left: 22px;
	&:before{
		content:'';
		display: block;
		position: absolute;
		left: 0;
		top: 4px;
		width: 15px;
		height: 18px;
		@include sprite-file-ppt; 
		@include iconSize;
	}
	&:hover:before,&:focus:hover{
		@include opacity(.7);
	}
}



/* PLAYGROUND
----------------- */
