<a name="access-aria" id="access-aria"></a>

<div class="doc-text">
	<div class="doc-section">
		<h4 class="doc-section-title">Aria Standards</h4>
		<div class="doc-section-inner">
			<p><a href="https://www.w3.org/WAI/intro/aria" target="_blank">Aria standards</a> should be used whenever possible. Drupal assigns many of these standards in the core templates and functionality but it is the responsibility of the developer to implement them when customizing the site.</p>
			<p>Aria Standards:
				<ul>
					<li>Roles for widget types</li>
					<li>Roles to describe the structure of layouts.</li>
					<li>Properties to describe the state of elements (checked, aria-expanded, has-popup, etc)</li>
					<li>A way to access these elements through the keyboard.</li>
				</ul>
			</p>
		</div>
	</div>
</div>

