<a name="access-best-practices" id="access-best-practices"></a>

<div class="doc-text">
	<div class="doc-section">
		<h4 class="doc-section-title">Other Accessibility Standards and Best Practices</h4>
		<div class="doc-section-inner">
			<p><strong:>Alt Tags—</strong:> All images on the site are required to have an alt tag. This is automatically done through the Image media bundle. For background images on sections or widgets set as inline styles through twig, add the alt text as an aria-label on the element using the background image and add an img role.</p>
			<p><strong>Keyboard Accessiblity—</strong> All clickable elements and regions should be keyboard accessible if at all possible. This can be done through button elements or roles, jump links to sections/regions, and tab indexes (only when absolutely needed.</p>
		</div>
	</div>
</div>

