/* ========================
  VIEWS
========================== */


/* GLOBAL VIEWS
---------------- */
.views-ui-display-tab-bucket .views-display-setting{
	font-size: 1.4rem;
}

.js .views-edit-view{
	.dropbutton-wrapper{
		.dropbutton{
			.dropbutton-action{
				& > *{
					font-size: 1.3rem;
					text-transform: none;
				}
			}
		}
	}
}

.view-preview-form{
	.js-form-type-textfield{
		max-width: 300px;
	}
	.form-actions{
		@include smallTab{
			margin-top: 55px;
		}
	}
}

//views modal buttons
.views-ui-dialog{
	.views-override.form--inline{
		.js-form-item-override-dropdown{
			max-width: 175px;
		}
		.js-form-item-override-controls-options-search{
			max-width: 240px;
		}
	}
	.ui-dialog-buttonset{
		button{
			margin-right: 2rem !important;
			min-width: 185px;
			&:not(.button--primary):not(.button--danger){
				@include cautionButton;
				min-width: 185px;
			}
		}
	}
}//end views ui dialog


/* MAIN CONTENT VIEW
----------------------- */
.view-content.view-display-id-page_1{
	.view-filters{
		background: $whiteBlue;
		padding: $spaceXs 2.5em $spaceSm;
		@include bleed(null,5em);
		position: relative;
		z-index: 20;
		margin-bottom: -1px;
		.form-actions{
			clear: none;
  		float: left;
  		input{
  			margin-top: 22px !important;
  		}
		}
	}//end views filters
	.view-content{
		position: relative;
		@include contentStop{
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: -2.5em;
				z-index: -1;
				width: 100vw;
				height: 42px;
				background: $offWhite;
				border-bottom: 1px solid $grey;
			}
		}
		.views-form > form{
			@include safeFlex(column,nowrap,start,start);
			& > .form-actions{
				display: none;
			}
			& > #edit-header{
				@include safeFlexOrder(99);
				&.form-wrapper{
					width:  100%;
					max-width: 300px;
				}
			}	
		}
		table{
			thead{
				& > tr{
					border-bottom: none;
				}
				th{
					background: $offWhite;
					border-color: $grey;
				}
			}
		}//end table
	}//end view content
}//end admin content view

/* MAIN MEDIA VIEW
-------------------- */
.view-display-id-media_page_list{
	@extend .view-content.view-display-id-page_1;
	.view-filters{
		.form-item-field-media-categories-target-id{
			max-width: 300px;
			margin-right: 20px;
		}
	}
}

/* MAIN FILES VIEW
--------------------- */
.view-files.view-display-id-page_1{
	@extend .view-content.view-display-id-page_1;
}