<a name="drupal-inheritance" id="drupal-inheritance"></a>

<div class="doc-text">
	<p>Inheritance overview, types of inheritance, blocks usage, comments</p>
	<div class="doc-section">
		<h4 class="doc-section-title"></h4>
		<div class="doc-section-inner">
			<p></p>
		</div>
	</div>
</div>

