<a name="drupal-theme-debug" id="drupal-theme-debug"></a>

<div class="doc-text">
	<p>Services yml (gitignore), devel, kint, (including context keys trick), dd() -- faster than kint but dont get attributes</p>
	<div class="doc-section">
		<h4 class="doc-section-title"></h4>
		<div class="doc-section-inner">
			<p></p>
		</div>
	</div>
</div>
