<a name="drupal-best-practices" id="drupal-best-practices"></a>

<div class="doc-text">
	<p>When to bring files into drupal / when to drupal in pl (for new site elements)</p>
	<div class="doc-section">
		<h4 class="doc-section-title"></h4>
		<div class="doc-section-inner">
			<p></p>
		</div>
	</div>
</div>


