/* ===============
   LANDING PAGE NODE
==================== */

.node-landing-page.node-content{

	.block-field-banner{
		opacity: 0;
		@include animation('fadeIn 1.2s 1 forwards');
		@include edgeToEdge;
	}

	.block-field.block-title{
		max-width: $textMax;
		@include auto;
		text-align: center;
	}

	.block-field.block-body{
		max-width: $textMax;
		@include auto;
	}

}//end landing-page



