/* ====================
   BLOG NODE
===================== */
.node-blog.node-content{

	//title author date
	.block-field.block-title{
		@include centerTitle;
		h1{
			@include spacer(.25);
		}
		.metatext{
			@include textDate;
			padding: 0 20px;
			margin-bottom: 1.5em;
		}
	}//end title block
	
	//add to any block positioning
	.block-addtoany_block{
		padding: 0 20px;
		text-align: right;
		margin-top: -3px;
		@include sectionLimit;
		@include spacer(2);
	}

	//tags
	.block-field-tags{
		font-size: 16px;
		@include textContent;
		@include spacer(.5);
		.label{
			font-weight: $heavy;
			margin-right: .5em;
		}
		div{
			display: inline;
			div{
				&:not(:last-child){
					&:after{
						content: ",";
					}
				}
			}
			a{
				@include smaller;
				@include transAll(.3s);
			}
		}
	}//end tags

	.block-flippy-block{
		@include sectionLimit;
		@include spacer(2);
	}


}//end blog post


/* PATTERN LAB ONLY
---------------- */
.pl{
	.block-addtoany-block{
		@include tab{
			bottom: 12px !important;
		}
		& > span{
			font-size: 0;
			margin-top: 2px;
			span{
				display: inline-block;
				font-size: initial;
				padding: 0 1px; 
				.icon{
					height: 32px;
					width: 32px;
					@include a2aSize;
				}
			}
		}
	}
}