/* ================
	 MEDIA
============== */

img{
	width: 100%;
	height: auto;
	display: block;
}

.field-media-image + figcaption,.field-media-image + .field-caption{
	margin-top: $spaceXs;
}

//constrain images with smaller sizes (commonly embedded)
.view-modemediasmall-embed{
	max-width: 400px;
	width: 100%;
}
.view-modemediamedium-embed{
	max-width: 600px;
	width: 100%;
}
.view-modemediasquare{
	max-width: 400px;
	width: 100%;
}
.view-modemedialarge-embed{
	max-width: 900px;
	width: 100%;
}

/* MEDIA IN WYSIWYG 
------------------- */
.citizen-media{
	margin-bottom: $spaceLg;

	//embedded alignment (images only )
	&.right{
		@include tab {
			float: right;
			margin-left: 2rem;
			&:not(.view-modemediasmall-embed){
				max-width: 50%;
			}
		}
	}
	&.left{
		@include tab {
			float: left;
			margin-right: 2rem;
			&:not(.view-modemediasmall-embed){
				max-width: 50%;
			}
		}
	}
	&.center{
		@include auto;
	}
	.player .vp-player-layout{
		width: 100% !important;
	}
}//end citizen-media


/* WYSIWYG DOC ICONS
---------------------------------------- */
%docIcons{
	position: relative;
	padding-left: 22px;
	&:hover:before,&:focus:before{
		opacity: .7;
	}
	&:before{
		content:'';
		display: block;
		position: absolute;
		top: 4px;
		left: 0px;
		width: 18px;
		height: 18px;
	}
}
.text-with-summary,.text-long,span.file{
	a[href$='.pdf']{
		@extend %docIcons;
		&:before{			
			@include docPDF;
		}	
	}

	//word
	a[href$='.doc'],a[href$=".docx"]{
		@extend %docIcons;
		&:before{
			@include docWord;
		}
	}
	//excel
	a[href$='.xls'],a[href$=".xlsx"]{
		@extend %docIcons;
		&:before{
			@include docExcel;
		}
	}
	//powerpoint
	a[href$='.ppt'],a[href$=".pptx"]{
		@extend %docIcons;
		&:before{
			@include docPowerpoint;
		}
	}
}//end wysiwyg fields


