/* ==============
	 CONTAINERS
================== */
.container-inline{
	input[value="Add new media"],input[value="Add existing media"]{
		margin-top: 1em;
		margin-bottom: 1em;
	}
}
.ief-form-bottom .fieldset-wrapper > div{
	input[value="Select Image"],input[value="Select File"],input[value="Select Video"]{
		margin: 1em 0;
	}
	.ief-entity-submit[value="Add media"]{
		display: none;
	}
	input[value="Cancel"]{
		margin-left: 0;
	}
}

/* SUMMARY BLOCK
------------------ */
.seven-details[open]{
	& > .seven-details__summary{
		color: $darkBlue;
		&:hover,&:focus{
			color: $hoverLink;
		}
	}
	.entity-meta &{
		background: $offWhite;
	}
}
.seven-details__summary{
	font-family: $bodyFont;
	color: $darkBlue;
	&:hover,&:focus{
		color: $hoverLink;
	}
	&.form-required{
		&:after{
			content: none;
		}
	}
}

/* ENYITY META
----------------- */
.entity-meta{
	border-right-color: $borderRule;
	border-left-color: $borderRule;
	&:hover{
		
	}
	.entity-meta__header{
		border-top-color: $borderRule;
		border-bottom-color: $borderRule;
	}
	.seven-details{
		border-bottom-color: $borderRule;
		.seven-details{
			border-bottom: 0;
		}
	}
}//end entity-meta

/* INLINE CONTAINERS
-------------------- */
.container-inline{
	div{
		display: inline-block;
		width: auto;
		margin-right: 1em;
	}
}

/* MODALS
------------- */
#drupal-modal{
	.captcha-admin-links{
		display: none;
	}
}