/* ===============
   Section Layouts
=================== */
.layout-content{
	padding-bottom: 5rem;
}
.layout__region{
	& > *{
		margin-bottom: $elementSpace;
	}
}

/* TWO COLUMN SIDEBAR (Macro Variable) */
.layout--twocol-sidebar{
	width: 100%;
	max-width: $contentStop;
	@include auto;
	@include safeFlex(row,wrap,start,start);
	.layout__region--content{
		width: 100%;
		@include desk{
			&:not(:only-child){
				@include calc(width, "100% - "$sideBar);
				&:not(.ui-sortable){
					padding-right: $sectionGutter;
				}
			}
		}
	}
	.layout__region--sidebar{
		width: 100%;
		@include desk{
			width: $sideBar;
		}
	}//end layout region second
	&.side-left{
		.layout__region--content{
			@include safeFlexOrder(2);
			@include desk{
				&:not(.ui-sortable){
					padding-left: $sectionGutter;
					padding-right: 0;
				}
			}
		}
	}
}//end layout-twocol-sideleft


/* TWO COLUMN SIDEBAR LEFT */
.layout--twocol-sideleft{
	width: 100%;
	max-width: $contentStop;
	@include auto;
	@include safeFlex(row,wrap,start,start);
	.layout__region--first{
		width: 100%;
		@include desk{
			width: $sideBar;
		}
	}//end layout region second
	.layout__region--content{
		width: 100%;
		@include desk{
			&:not(:only-child){
				@include calc(width, "100% - "$sideBar);
				&:not(.ui-sortable){
					padding-left: $sectionGutter;
				}
			}
		}
	}
}//end layout-twocol-sideleft

/* TWO COLUMN SIDEBAR RIGHT */
.layout--twocol-sideright{
	width: 100%;
	max-width: $contentStop;
	@include auto;
	@include safeFlex(row,wrap,start,start);
	.layout__region--content{
		width: 100%;
		@include desk{
			&:not(:only-child){
				@include calc(width, "100% - "$sideBar);
				&:not(.ui-sortable){
					padding-right: $sectionGutter;
				}
			}
		}
	}
	.layout__region--second{
		width: 100%;
		@include desk{
			width: $sideBar;
		}
	}//end layout region second
}//end layout-twocol-sideleft
