/* ===============
   VIDEO WIDGET
================= */

.paragraph--type--video{
	.wrapper{
		max-width: $contentStop !important;
	}
	//video summary
	.field-oc-long-text{
		max-width: $textMax;
		@include auto;
		margin-top: 1em;
	}
}//end video widget

