{#
 Drupal: This file is embedded in the site-footer.twig pattern lab file and in the footer-copyright Drupal block. The variables are placeholders for those files.
#}

{% extends '@molecules/blocks/block.twig' %}
{% block blockContent %}
	<div class="field body">
		<p>{{ copyright }}</p>
	</div>
{% endblock %}