{#
 Drupal: This file is embedded in the site-footer.twig pattern lab file and in the footer-copyright Drupal block. The variables are placeholders for those files.
#}

{% extends '@molecules/blocks/block.twig' %}
{% block blockContent %}
	<div class="field body">
		<ul class="social-links">
			<li><a href="https://wwww.facebook.com" class="facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
			<li><a href="https://wwww.twitter.com" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
			<li><a href="https://wwww.youtube.com" class="youtube" target="_blank"><i class="fab fa-youtube"></i></a></li>
		</ul>
	</div>
{% endblock %}