/* ===============
   SEARCH 	
================= */


/* SEARCH PAGE
------------------ */
.path-site-search{

	//move superfish toggle over because no search icon
	#superfish-main-toggle{
		right: 20px;
	}

	//prevent contextual links interference when logged in
	.views-element-container{
		position: static;
	}

	.page-main{
		position: relative;
	}

	.layout-content{
		
		.site-search{
			h1{
				margin-bottom: $elementSpace;
			}
			.search-page-block{
				margin-bottom: $elementSpace;
				.views-exposed-form{
					@include safeFlex(row,wrap,center,start);
					position: relative;
					padding: $spaceLg 0;
					&:after{
						@include fullBack($lightGrey);
					}
				}
				.js-form-type-textfield{
					@include smallTab{
						max-width: 100%;
						width: 100%;
					}
					@include tab{
						max-width: 400px;
					}
					label{
						@include visuallyHidden;
					}
					@include tab{
						margin-bottom: 0;
					}
				}
				.form-actions{
					margin: 0 0 0 -10px;
				}
			}
			h2.results-header{
				width: 100%;
				max-width: $textMax;
				@include auto;
				padding-bottom: 1rem;
				border-bottom: 1px solid $borderRule;
				margin-bottom: $elementSpace;
			}
			.view-content,.view-empty{
				width: 100%;
				max-width: $textMax;
				@include auto;
				margin-bottom: $elementSpace;
			}

			.views-row{
				&:not(:last-child){
					margin-bottom: $elementSpace;
				}
				.views-field-body-1{
					.search-highlight{
						font-weight: $heavy;
						background: none;
					}
				}
			}
		}//site-search
	}//layout content

}//end search page

