/* ==================
    global views settings
==================== */

@mixin inlineImageRow{
	@include safeFlex(row,wrap,start,start);
	.views-field{
		width: 100%;
		&.views-field-field-banner{
			margin-bottom: $spaceMd;
			img{
				display: block;
			}
		}	
		@include smallTab{
			&.views-field-field-banner{
				width: 35%;
				padding-right: 40px;
			}
			&.views-field:not(.views-field-field-banner){
				width: 65%;
			}
		}
		@include tab{
			&.views-field-field-banner{
				width: 290px;
				padding-right: 40px;
			}
			&.views-field:not(.views-field-field-banner){
				@include calc(width,"100% - 290px");
			}
		}
	}
}//end inline image row

