/* ==================
    BLOG VIEWS
==================== */


/* ALL POSTS
------------- */
.blog.all-posts{

	.view{
		padding-bottom: $elementSpace;
	}
	
	.view-content{
		@include safeFlex(row,wrap,null,null);
		@include bleed(30px);
	}

	.views-row{
		width: 100%;
		margin-bottom: $spaceLg;
		padding-right: 15px;
		padding-left: 15px;
		@include smallTab{
			width: 50%;
		}
		@include tab{
			width: 33.33%;
		}
	}

	.views-field-field-banner{
		margin-bottom: $spaceSm;
	}

	//date and author
	.views-field-nothing{
		.title{
			@include heading4;
			margin-bottom: $spaceXs;
		}
		.metatext{
			@include textDate;
			margin-bottom: $spaceXs;
		}
		.views-field-body{
			&:not(:last-child){
				margin-bottom: $spaceXs;
			}
		}
		.views-field-field-tags{
			font-size: 1.6rem;
			.inline-label{
				font-weight: $heavy;
				margin-right: 1rem;
			}
		}
	}
}//end all posts
