/* ==================
		EVENTS VIEWS
==================== */

/* ALL UPCOMING
------------- */
.events.all-upcoming-events{
	@include safeFlex(row,wrap,start,start);
	& > *{
		width: 100%;
	}
	.view-content,.view-empty{
		padding-bottom: $elementSpace;
		.views-row{
			@include inlineImageRow;
			.views-field-nothing{
				.title{
					@include heading4;
					margin-bottom: $spaceXs;
				}
				.date{
					@include textDate;
					margin-bottom: $spaceXs;
				}
			}
		}
	}
}//end all upcoming events

