/* ================
   VIEWS EXPOSED FILTERS
======================= */

.views-exposed-form{
	@include safeFlex(row,wrap,start,center);
	@include bleed(20px);
	.form-item{
		width: 100%;
		padding:0px 10px;
		@include smallTab{
			width: 50%;
			max-width: 300px;
		}
		.select2-container--default{
			max-width: 100%;
		}
	}
	.form-actions{
		@include auto;
		@include smallTab{
			margin: 8px 0px 0px 0px;
		}
		input.form-submit.button{
			@include submitButton;
			margin: 0px 10px;
			&#edit-reset{
				@include resetButton;
			}
		}
	}
	& + .view-content{
		margin-top: 4rem;
	}
}//end views exposed form



/* PATTERN LAB ONLY
---------------------- */
.pl{
	.form-item-combine,.form-item-field-category-target-id{
		max-width: 300px;
	}
	input.form-submit{
		margin-bottom: 60px;
	}
}
