/* ==================
    PROFILES VIEWS
==================== */

/* ALL STAFF
------------- */
.profiles.all-staff{
	.view{
		padding-bottom: $elementSpace;
	}
	.view-content{
		@include safeFlex(row,wrap,null,null);
		@include bleed(30px);
	}
	.views-row{
		width: 100%;
		margin-bottom: $spaceLg;
		padding-right: 15px;
		padding-left: 15px;
		text-align: center;
		@include smallTab{
			width: 50%;
		}
		@include tab{
			width: 33.33%;
		}
		@include desk{
			width: 25%;
		}
	}

	.views-field-field-profile-image{
		margin-bottom: $spaceSm;
	}

	.views-field-title{
		@include heading4;
	}
	.views-field-field-position{
		@include textDate;
	}
}//end profiles

