{#
STYLEGUIDE ONLY: This template is not embedded into Drupal.
NOTE: The blocks below are meant to simulate common drupal footer blocks.
If there are different blocks in the Drupal footer, or they are named differently,
that markup will need be changed in their pl twig files.
Available macro variables: fixed, non-fixed.
#}


{% block footerStart %}
{{ footer_instructions }}
{% endblock %}

{% block footerContent %}
<footer role="contentinfo" class="pl-spacer">
	<div class="footer-inner">	
		<div>
			{% if about %}
				<div class="block-2">
					{% autoescape false %}
						{{ about }}
					{% endautoescape %}
				</div>
			{% endif %}
			{% if menu %}
				{% include "@molecules/blocks/footer/_footer-menu.twig" %}
			{% endif %}

			{% if newsletter %}
				<div class="block-newsletter">
					{% include "@molecules/blocks/newsletter/_newsletter.twig" 
						with{
							plLabel: newsletter.plLabel,
							intro: newsletter.intro,
							embedForm: newsletter.embedForm,
							modal: newsletter.modal,
							modalHeader: newsletter.modalHeader,
							modalTrigger: newsletter.modalTrigger,
							modalIntro: newsletter.modalIntro
						}
					%}
				</div>
			{% endif %}

			{% if copyright %}
				<div class="block-1">
					{% include "@molecules/blocks/footer/_footer-copyright.twig" %}
				</div>
			{% endif %}
		</div>
	</div>
</footer>
{% endblock %}