/*WYSIWYG for editors*/
html {
	font-size: 16px;
	line-height: 24px;
	font-family: Helvetica, Arial, sans-serif;
}



.media--type-image img{
	max-width: 100%;
	height: auto;
}

.align-right > .media {
	float: right;
	margin:0 0 20px 20px;
	clear:both;
}
.align-left > .media  {
	float: left;
	margin:0 20px 20px 0;
	clear:both;
}
.align-center > .media {
	margin: 2em auto 1em;
	text-align: center;
	clear:both;
}

.media--view-mode-small-embed{
	width: 300px;
	max-width: 50%;
}
.media--view-mode-medium-embed{
	width: 500px;
}
.media--view-mode-large-embed{
	width: 800px;
}

span.highlight{
	background: #fcd916;
}

div.warning {
	border: 2px solid #dd241b;
	color: #dd241b;
	padding: .5em 1em;
	margin-bottom: 1.5em;
	text-align: center;
}
small{
	font-size: 80%;
}

div.button{
		display: inline-block;
		position: relative;
		text-align: center;
		max-width: 260px;
		margin: 1em auto;
}
div.button a{
	color: #fff;
	background: #bf0e0e;
	padding: 10px 40px;
	text-decoration: none;
}
div.button a:hover{
	background: #676767;
}
a{
	color: #bf0e0e;
}
table th, table td{
	min-width: 40px;
	padding: 2px 6px;
}

.field--name-field-caption{
	font-style: italic;
	font-size: 13px;
	text-align: center;
	color: #666;
}

h1{
	font-size: 60px;
}

h2{
	font-size: 32px;
}

h3{
	font-size: 26px;
}

h4{
	font-size: 22px;
}

h5{
	font-size: 20px;
}

h6{
	font-size: 18px;
}

blockquote{
	margin: 0 auto !important;
	max-width: 740px;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 28px;
	line-height: 30px;
	padding-bottom:10px;
}

blockquote:before{
	color: $transBlack;
	content: "“";
	font-size: 3em;
	line-height: .1em;
	margin-right: .25em;
	vertical-align: -.4em;
}

blockquote:after{
	color: $transBlack;
	content: "”";
	font-size: 3em;
	line-height: .1em;
	margin-right: .25em;
	vertical-align: -.44em;
}

blockquote p{
	display: inline;
}

/* DOCUMENT ICONS
------------------ */
a[href$='.pdf'],a[href$='.doc'],a[href$=".docx"],a[href$='.xls'],a[href$=".xlsx"],a[href$='.ppt'],a[href$=".pptx"]{
	position: relative;
	padding-left: 22px;
	display: inline-block;
}
a[href$='.pdf']:before,a[href$='.doc']:before,a[href$=".docx"]:before,a[href$='.xls']:before,a[href$=".xlsx"]:before,a[href$='.ppt']:before,a[href$=".pptx"]:before{
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	left: 0;
	width: 18px;
	height: 18px;
}
a[href$='.pdf']:before{
	background: url(../../images/icons/src/pdf.svg) no-repeat;
	background-size: contain;
	background-position: center;
}
a[href$='.doc']:before,a[href$=".docx"]:before{
	background: url(../../images/icons/src/word.svg) no-repeat;
	background-size: contain;
	background-position: center;
}
a[href$='.xls']:before,a[href$=".xlsx"]:before{
	background: url(../../images/icons/src/word.svg) no-repeat;
	background-size: contain;
	background-position: center;
}
a[href$='.ppt']:before,a[href$=".pptx"]:before{
	background: url(../../images/icons/src/word.svg) no-repeat;
	background-size: contain;
	background-position: center;
}

