/* =================
	SITE HEADER
=================== */

.layout-container > header {
	background: $headerBack;
	& > div{
		padding: 20px $siteMarginMobile;
		max-width: $contentStop + 40px;
		@include auto;
		position: relative;
		@include safeFlex(row,wrap,null,center);
	}
	&.nav-left,&.nav-center{
		& > div{
			padding: 20px $siteMarginMobile 0;
		}
	}
}//end layout container


/* BRANDING BLOCK PLACEMENT
------------------- */
.block-system-branding-block{
	//leave room for search toogle and menu hamburger on mobile
	@include calc(width, "100% - 70px");
	position: relative;
	z-index: 10;

	//set width at desktop
	@include desk{
		width: 240px;
	}

	a{
		img{
			max-width: 160px;
			margin-right: 5px;
			@include desk{
				max-width: 100%;
			}
		}
	}
}//end branding block


/* SEARCH BLOCK PLACEMENT
------------------- */
.block-search-form-block{
	position: static;
	display: inline-block;
	text-align: right;

	//set width at desktop
	@include desk{
		@include calc(width, "100% - 240px");
		.nav-inline &{
			@include safeFlexOrder(99);
			width: 240px;
		}
	}

	//search toggler
	.t-search{
		position: absolute;
		top: 15px;
		right: 20px;
		@include desk{
			top: 13px;
			right: 25px;
			.nav-inline &{
				top: 42px;
			}
		}
	}
}//end search block


/* MAIN NAVIGATION BLOCK
------------------------ */
.block-superfishmain{
	@include onlyMobile{
		&.contextual-region{
			position: static;
		}
	}
	//desktop position
	@include desk{
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		padding-left: 280px;
		.nav-left &,.nav-center &{
			position: relative;
			padding-left: 0;
			margin-top: 20px;
		}
		.nav-inline &{
			position: relative;
			@include calc(width, "100% - 480px");
			padding-left: 0;
			margin-top: -10px;
		}
	}//end desk
	
}//end main nav


/* PATTERN LAB ONLY
------------------- */
.pl header .block-superfishmain .sf-hidden{
	display: none;
}