{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}

<div class="block block-search-form-block">
	<div class="t-search-wrapper"><a href="#" class="t-search" role="expander">open</a></div>
	<div class="t-search-close"><a href="#" class="close-search" role="contractor">X</a><span class="close-text">close</span></div>
	<div class="search-form-wrapper" aria-expanded="false">
		<form action="/site-search" method="get" id="views-exposed-form-site-search-search-results" accept-charset="UTF-8" data-drupal-form-fields="edit-search-api-fulltext">
			{{ content.search_api_fulltext }}
			<div data-drupal-selector="edit-actions" id="edit-site-search-actions" class="form-actions js-form-wrapper form-wrapper">
				{{ content.actions }}
			</div>
		</form>
	</div>
</div>