{#
  STYLEGUIDE ONLY: This template is not brought into to Drupal.
#}
<p>Default style for anything with class of 'button' or a button tag.</p>
<button class="button" href="{{ button_url }}">
	{% block button_content %}
		{{ button_content }}
	{% endblock %}
</button>
<br>
