/* =============
	 BREADCRUMBS
------------------- */

.breadcrumb{
	max-width: $contentStop;
	@include auto;
	padding: $spaceXs 0 $spaceSm;
	ol {
		@include listReset;
	}

	li{
		display: inline-block;
		color: $darkGrey;
		@include xSmaller;
		a{
			padding-right: .5rem;
			@include transAll(.3s);
		}
		&:not(:last-of-type){
			&:after{
				content: "\00BB";
			}
		}
	}

}//end breadcrumb 
