{#
 Drupal: This file is embedded in the site-header.twig pattern lab file and in the search-block Drupal block.
#}

{% import "@base/global/05-macros/macros.twig" as styles %}

{% block instructions %}
	{{ search_instructions }}
{% endblock %}

{% block searchBlockStart %}
	<div data-drupal-selector="search-block-form" id="block-search-form" class="block block-search-form-block {{ styles.searchBox }}">
{% endblock %}

	{% block drupalWrapperStart %}
		<div>
	{% endblock %}

		{% block searchForm %}
			<div class="search-form-outer">
				<div class="t-search-wrapper"><a href="#" class="t-search" role="button" aria-label="toggle-search"><i class="fa fa-search" aria-hidden="true"></i></a></div>
				<div class="t-search-close"><a href="#" class="close-search" role="button" aria-label="toggle-search-close">X</a><span class="close-text">close</span></div>
				<div class="search-form-wrapper" aria-expanded="false">
					<form action="/site-search" method="get" id="views-exposed-form-site-search-search-results" accept-charset="UTF-8" data-drupal-form-fields="edit-search-api-fulltext">

						{% block searchFormInner %}
							<div class="js-form-item form-item js-form-type-textfield form-item-search-api-fulltext js-form-item-search-api-fulltext">
								<label for="edit-search-api-fulltext" class="visually-hidden">Search</label>
								<input id="edit-search-api-fulltext" class="form-text" placeholder="enter keywords" data-drupal-selector="edit-search-api-fulltext" type="text" size="30" max-length="128" >
							</div>
							<div data-drupal-selector="edit-actions" id="edit-site-search-actions" class="form-actions js-form-wrapper form-wrapper">
								<input id="edit-submit-site-search" class="button js-form-submit form-submit" data-drupal-selector="edit-submit-site-search" value="search" type="submit">
								<i class="fa fa-search" aria-hidden="true"></i>
							</div>
						{% endblock %}

					</form>
				</div>
			</div>

		{% endblock %}

	{% block drupalWrapperEnd %}
		</div>
	{% endblock %}

{% block searchBlockEnd %}
	</div>
{% endblock %}