/* ===============
   ACCORDION WIDGET
================= */

.paragraph--type--accordion-group{
	.layout:not(.layout--twocol-sidebar) &{
		max-width: $textMax;
		@include auto;
	}
}


/* ITEM STYLING
------------------- */
.accordion-item{

	//accordion header bar
	.accordion-header{
		a{
			padding: 1rem 1rem 1rem 3rem;
			display: block;
			color: inherit;
			font-weight: $heavy;
			position: relative;
			font-size: 2.2rem;
			border: 1px solid $darkGrey;
			margin-top: -1px;
			&:after{
				position: absolute;
				right: 3rem;
				top: 1rem;
				content: "+";
			}
			&:hover,&:focus{
				color: $white;
				background: $darkGrey;
				@include transAll(.3s);
			}
		}
	}

	//accordion content
	.field-long-text{
		display: none;
		padding: 2rem 4rem;
	}

	//active accordion
	&.accord-active{
		.accordion-header{
			a{
				color: $white;
				background: $darkGrey;
				border-bottom: 0;
				&:after{
					content: "–";

				}
			}
		}
	}//end active

	//no-js fallback
	.no-js &{
		&:hover,&:focus{
			.field-long-text{
				display: block;
			}
		}
	}

}//end accordion-item


/* PATTERN LAB ONLY
-------------------- */
.pl{
	.accordion-item{
		max-width: 800px;
		margin: 4rem auto 0;
	}
}
.pl #organisms-accordion-group .sg-pattern-example > .flex-wrap{
	padding: 2rem 0;
	.accordion-item{
		margin: 0 auto;
	}
}
