{#
	STYLEGUIDE ONLY: The icon sprite is generated from all individual svg files in /theme_name/images/icons/src and output in /dist/svg/.sprite.css.svg. ALL ICON FILES MUST BE THE SAME SIZE AND SQUARE (currently 80x80 pixels) Size for individual icons can adjusted with theming later.
#}

{% import "@base/macros.twig" as styles %}

<div class="icons-demo grid-center-spaced" id="icons">

	{% for item in items %}
		<div><span class="pl sprite-{{ item.value }} sprite-icon"></span></div>
	{% endfor %}

</div>