@mixin svg-common {
  background: url("svg/sprite.css.svg") no-repeat;
}

@mixin sprite-accordion-open {
  @include svg-common;

  background-position: 25% 0;
}

.sprite-accordion-open {
  @include sprite-accordion-open;
}

@mixin sprite-accordion-shut {
  @include svg-common;

  background-position: 0 75%;
}

.sprite-accordion-shut {
  @include sprite-accordion-shut;
}

@mixin sprite-accordion-shut-black {
  @include svg-common;

  background-position: 0 25%;
}

.sprite-accordion-shut-black {
  @include sprite-accordion-shut-black;
}

@mixin sprite-accordion-shut-hover {
  @include svg-common;

  background-position: 25% 25%;
}

.sprite-accordion-shut-hover {
  @include sprite-accordion-shut-hover;
}

@mixin sprite-accordion-shut-red {
  @include svg-common;

  background-position: 50% 0;
}

.sprite-accordion-shut-red {
  @include sprite-accordion-shut-red;
}

@mixin sprite-back-to-top-arrow {
  @include svg-common;

  background-position: 50% 25%;
}

.sprite-back-to-top-arrow {
  @include sprite-back-to-top-arrow;
}

@mixin sprite-close-circle-punchout {
  @include svg-common;

  background-position: 0 50%;
}

.sprite-close-circle-punchout {
  @include sprite-close-circle-punchout;
}

@mixin sprite-drop-arrow {
  @include svg-common;

  background-position: 25% 50%;
}

.sprite-drop-arrow {
  @include sprite-drop-arrow;
}

@mixin sprite-drop-arrow-active {
  @include svg-common;

  background-position: 50% 50%;
}

.sprite-drop-arrow-active {
  @include sprite-drop-arrow-active;
}

@mixin sprite-drop-arrow-active-white {
  @include svg-common;

  background-position: 75% 0;
}

.sprite-drop-arrow-active-white {
  @include sprite-drop-arrow-active-white;
}

@mixin sprite-drop-arrow-white {
  @include svg-common;

  background-position: 75% 25%;
}

.sprite-drop-arrow-white {
  @include sprite-drop-arrow-white;
}

@mixin sprite-drupal {
  @include svg-common;

  background-position: 75% 50%;
}

.sprite-drupal {
  @include sprite-drupal;
}

@mixin sprite-facebook {
  @include svg-common;

  background-position: 0 0;
}

.sprite-facebook {
  @include sprite-facebook;
}

@mixin sprite-hamburger {
  @include svg-common;

  background-position: 25% 75%;
}

.sprite-hamburger {
  @include sprite-hamburger;
}

@mixin sprite-linkedin {
  @include svg-common;

  background-position: 50% 75%;
}

.sprite-linkedin {
  @include sprite-linkedin;
}

@mixin sprite-menu-desk-item-active {
  @include svg-common;

  background-position: 75% 75%;
}

.sprite-menu-desk-item-active {
  @include sprite-menu-desk-item-active;
}

@mixin sprite-menu-desk-item-open {
  @include svg-common;

  background-position: 100% 0;
}

.sprite-menu-desk-item-open {
  @include sprite-menu-desk-item-open;
}

@mixin sprite-menu-item-toggle-active {
  @include svg-common;

  background-position: 100% 25%;
}

.sprite-menu-item-toggle-active {
  @include sprite-menu-item-toggle-active;
}

@mixin sprite-menu-item-toggle-close {
  @include svg-common;

  background-position: 100% 50%;
}

.sprite-menu-item-toggle-close {
  @include sprite-menu-item-toggle-close;
}

@mixin sprite-menu-item-toggle-open {
  @include svg-common;

  background-position: 100% 75%;
}

.sprite-menu-item-toggle-open {
  @include sprite-menu-item-toggle-open;
}

@mixin sprite-search-submit {
  @include svg-common;

  background-position: 0 100%;
}

.sprite-search-submit {
  @include sprite-search-submit;
}

@mixin sprite-search-submit-hover {
  @include svg-common;

  background-position: 25% 100%;
}

.sprite-search-submit-hover {
  @include sprite-search-submit-hover;
}

@mixin sprite-search-toggle {
  @include svg-common;

  background-position: 50% 100%;
}

.sprite-search-toggle {
  @include sprite-search-toggle;
}

@mixin sprite-twitter {
  @include svg-common;

  background-position: 75% 100%;
}

.sprite-twitter {
  @include sprite-twitter;
}

@mixin sprite-youtube {
  @include svg-common;

  background-position: 100% 100%;
}

.sprite-youtube {
  @include sprite-youtube;
}

