/**
 * @file
 * Visual styles for a resizable textarea.
 */


/* style media image fields inside admin widgets */
.field--widget-entity-reference-paragraphs img{
  max-width: 100%;
  height: auto;
}

.field--widget-entity-reference-paragraphs .item-container.rendered-entity{
  width: 100%;
}
.field--widget-entity-reference-paragraphs .item-container > input{
  display: inline-block;
}
.field--widget-entity-reference-paragraphs .view-mode-media-thumbnail{
  width: 100%;

}


/* paragraph add buttons 
------------------------- */
.field--widget-paragraphs:after{
  content: '';
  display: block;
  clear: both;
}

/* WIDGET CONTENT SPACING
-------------------------- */
.paragraphs-content{
  margin-bottom: 1em;
}

/* widget helptext
------------------- */
.field--widget-paragraphs .description strong span{
  color: #dd241b ;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input.field-add-more-submit:not([value="Add another item"]){
  padding-left: 30px;
  border: 2px solid #02acd7;
  color: #535353;
  border-radius: 0;
  box-shadow: 3px 3px 0 #d2d2d2;
  float: left;
  background-position: 2px 0 !important;
  margin-right: 15px;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper .clearfix{
  margin-bottom: 2em;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input.field-add-more-submit:hover{
  border-color: #005b8a !important;
  background-color: rgba(205,232,246,0.3) !important;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Accordion Group"]{
  background: url(../icons/accordion.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Accordion Item"]{
  background: url(../icons/accordion.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Basic Page Section"] {
  background: url(../icons/section.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Block Placer"]{
  background: url(../icons/block.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Call to Action"]{
  background: url(../icons/cta.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Events by Category"]{
  background: url(../icons/events.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Form"]{
  background: url(../icons/form.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Horizontal Rule"]{
  background: url(../icons/hr.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Image"]{
  background: url(../icons/image.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Landing Page Section"] {
  background: url(../icons/section.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Links & Files"]{
  background: url(../icons/link.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Lightbox Gallery"]{
  background: url(../icons/gallery.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Map"]{
  background: url(../icons/map.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add News by Category"]{
  background: url(../icons/news.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Pullquote"]{
  background: url(../icons/pullquote.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Slideshow"]{
  background: url(../icons/slider.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Text"]{
  background: url(../icons/text.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add View Placer"]{
  background: url(../icons/view-placer.svg) no-repeat;
}

.field--widget-paragraphs .paragraphs-tabs-wrapper input[value="Add Video"]{
  background: url(../icons/video.svg) no-repeat;
}

/* CUSTOM WARNINGS
------------------ */
.node-form .custom-warning{
  color: #000000;
  font-size: 12px;
  border: 2px solid #dd241b;
  background: rgba(221,36,27,0.2);
  padding: .25em 1em;
  display: inline-block;
}

/* WIDGET LABEL */
.js .paragraph-type-top .paragraph-type-title{
  min-width: 300px;
}
.paragraph-type-title .paragraph-type-label{
  font-weight: bold;
}

/* WIDGET ADMIN DESCRIPTION */
.field--name-field-admin-description,.field--name-field-admin-description .field-item{
  color: #ec2f10;
}
 
/* GENERAL */
.fieldset-wrapper .fieldset-description{
  margin-bottom: 1em;
}

/* HIDE SETTINGS ON FORM WIDGET
----------------------- */
.field--widget-paragraphs .field--name-field-oc-form .js-form-type-select + .js-form-wrapper{
  display: none;
}


 
 