/* =============
   PROFILE NODE
================== */
.node-profiles.node-content{

	//image title position email phone
	.node-section#section-2{
		.layout__region--content{
			@include spacer(1.5);
			@include textContent;
			@include tab{
				@include clearFix;
			}
		}
	}

	.block-field-profile-image{
		width: 250px;
		@include spacer(1);
		@include onlySmall{
			@include auto;
		}
		@include tab{
			float: left;
		}
	}//end profile-image

	.block-field-email{
		@include spacer(.5);
		.has-main-image &{
			@include tab{
				margin-left: 250px;
				padding-left: 40px;
				@include calc(width, "100% - 250px");
			}
		}
	}//end email

	.block-field-phone{
		@include spacer(.5);
		.has-main-image &{
			@include tab{
				margin-left: 250px;
				padding-left: 40px;
				@include calc(width, "100% - 250px");
			}
		}
	}//end phone

	.block-field.block-title{
		.has-main-image &{
			@include tab{
				margin-left: 250px;
				padding-left: 40px;
				@include calc(width, "100% - 250px");
			}
		}
		h1{
			margin-bottom: 10px;
			font-size: 32px;
			@include tab{
				font-size: 48px;
			}
		}
	}//end title

	.block-field-position{
		@include spacer(.5);
		.has-main-image &{
			@include tab{
				margin-left: 250px;
				padding-left: 40px;
				@include calc(width, "100% - 250px");
			}
		}
		.field-position{
			font-size: 21px;
			@include tab{
				font-size: 24px;
			}
		}
	}//end block field position

}//end news