/* base colors */
$white       : #fff;
$offWhite    : #f6f6f6;
$lightGrey   : #ededed;
$grey        : #ccc;
$midGrey     : #676767;
$darkGrey    : #4a4a4a;
$lightBlack  : #222222;
$black       : #000;
$highlighter : #f2dc26;
$warning     : #dd241b;
$red         : #bf0e0e;


/* transparents */
$transWhite  : rgba(255,255,255,0.7);
$transBlack  : rgba(35,35,35,0.7);
$imgOverlay  : rgba(35,35,35,0.4);


/* Randos */
$unpub : #f8e8f1;
$unpubDark : #fdd5dd;


/* CLIENT SITE SPECIFIC COLORS 
----------------------    */
$siteBack   : $white;
$body       : $darkGrey;
$borderRule : $lightBlack;
$link        : $red;
$activeLink  : $black;
$hoverLink   : $midGrey;

