/* base colors */
$body       : #4d4e4e;
$lightGrey : #ccc;
$grey       : #ddd;
$darkGrey  : #222222;
$offWhite  : #f6f6f6;
$white      : #fff;
$black      : #000;
$highlighter: #f2dc26;
$warning    : #dd241b;


/* transparents */
$transWhite  : rgba(255,255,255,0.7);
$transBlack  : rgba(35,35,35,0.7);
$imgOverlay      : rgba(35,35,35,0.4);


/* Randos */
$greenGood  : #218d00;
$redBad     : #cd0210;
$unpub : #fff4fa;
$unpubDark : #fdd5dd;


/*  Client Colors */
$siteBack: #ffffff;
$borderRule: #222222;


/* Link COLORS */
$link        : #d52d00;
$activeLink : #000000;
$hoverLink  : #676767;


/* PL colors */
$codeString   :  #017aa2;
