@import '_color-vars.scss';


/* COMPONENT SPECIFIC COLORS
----------------------    */
$siteBack   : $white;
$body       : $darkGrey;
$borderRule : $lightBlack;
$link        : $red;
$activeLink  : $black;
$hoverLink   : $midGrey;