{#
 #  This files used as the canonical style variables guide.
 #  Variables set here will affect elements in both pattern lab and drupal unless otherwise noted.
 #
 #
 #  FOR ALL STYLE MACROS-use just plain css friendly text between the macro tags with no extra spaces, please. When changing macros, please change the Current= value as well.
 #
#}

<p>Macros set here define theming variables in their corresponding twig files in both Pattern Lab and Drupal.</p>

{#######  FORM VARIABLES  #######}
<div class="macro-tile">
<p><strong>Form Elements</strong></br>
	{# custom-options applies custom form element styling to checkboxes and radios #}
	VARIABLES= default, custom-options</br>
</p>
</div>
{% macro formElements() %}custom-options{% endmacro %}

{#######  PAGER SETTINGS  #######}

<div class="macro-tile">
<p><strong>Pagers</strong></br>
	{# smart will change the pager settings depending on the number of results -- see more instructions in the PL pager.yml file. NOTE: Currently smart pagers cannot be deployed on a pager-by-pager basis (except by restructuring individual drupal pager templates per view), but that may be something to explore in the future. #}
	VARIABLES= default, smart</br>
</p>
</div>
{% macro pagerSettings() %}smart{% endmacro %}





