/* ================
	 MEDIA
============== */

img{
	width: 100%;
	height: auto;
	display: block;
}

.field-media-image + figcaption{
	margin-top: $spaceXs;
}

//constrain images with smaller sizes (commonly embedded)
.view-modemediasmall,.view-mode-small,.view-modemediasmall-embed{
	width: 300px;
	max-width: 100%;
	&.left,&.right{
		@include tab{
			max-width: 50%;
		}
	}
}
.view-modemediamedium,.view-mode-medium,.view-modemediamedium-embed{
	max-width: 500px;
	&.left,&.right{
		@include tab{
			max-width: 50%;
		}
	}
}
.view-modemediasquare,.view-mode-square{
	max-width: 350px;
	&.left,&.right{
		@include tab{
			max-width: 50%;
		}
	}
}
.view-modemedialarge,.view-mode-large,.view-modemedialarge-embed{
	max-width: 800px;
	&.left,&.right{
		@include tab{
			max-width: 50%;
		}
	}
}

/* MEDIA IN WYSIWYG 
------------------- */
.oc-media{
	margin-bottom: $spaceLg;

	//embedded alignment (images only )
	&.right:not(.has-video){
		@include tab {
			float: right;
			margin-left: 2rem;
		}
	}
	&.left:not(.has-video){
		@include tab {
			float: left;
			margin-right: 2rem;
		}
	}
	&.center{
		@include auto;
	}
	.player .vp-player-layout{
		width: 100% !important;
	}
}//end oc-media


/* WYSIWYG DOC ICONS
---------------------------------------- */
%docIcons{
	position: relative;
	padding-left: 22px;
	&:hover:before,&:focus:before{
		opacity: .7;
	}
	&:before{
		content:'';
		display: block;
		position: absolute;
		top: 4px;
		left: 0px;
		width: 18px;
		height: 18px;
	}
}
.field.text-with-summary,.field.text-long,span.file{
	a[href$='.pdf']{
		@extend %docIcons;
		&:before{			
			@include docPDF;
		}	
	}

	//word
	a[href$='.doc'],a[href$=".docx"]{
		@extend %docIcons;
		&:before{
			@include docWord;
		}
	}
	//excel
	a[href$='.xls'],a[href$=".xlsx"]{
		@extend %docIcons;
		&:before{
			@include docExcel;
		}
	}
	//powerpoint
	a[href$='.ppt'],a[href$=".pptx"]{
		@extend %docIcons;
		&:before{
			@include docPowerpoint;
		}
	}
}//end wysiwyg fields


