@mixin svg-common {
  background: url("svg/sprite.css.svg") no-repeat;
}

@mixin sprite-drupal {
  @include svg-common;

  background-position: 0 0;
}

.sprite-drupal {
  @include sprite-drupal;
}

@mixin sprite-facebook {
  @include svg-common;

  background-position: 50% 0;
}

.sprite-facebook {
  @include sprite-facebook;
}

@mixin sprite-linkedin {
  @include svg-common;

  background-position: 0 100%;
}

.sprite-linkedin {
  @include sprite-linkedin;
}

@mixin sprite-twitter {
  @include svg-common;

  background-position: 50% 100%;
}

.sprite-twitter {
  @include sprite-twitter;
}

@mixin sprite-youtube {
  @include svg-common;

  background-position: 100% 0;
}

.sprite-youtube {
  @include sprite-youtube;
}

