/* =================
   FOOTER MENU
==================== */

.footer-menu{
	width: 100%;
	margin-bottom: 1.5em;
	@include tab{
		width: 50%;
		@include safeFlexOrder(2);
	}
	h2.block-title{
		display: none;
	}
	ul:not(.contextual-links){
		@include listReset;
		@include safeFlex(row,wrap,center,null);
		@include tab{
			@include safeFlex(row,wrap,end,null);
		}
		li{
			position: relative;
			a{
				font-size: 16px;
				display: block;
				&:hover,&:focus{
					color: $transWhite;
					@include transAll(.3s);
				}
			}
			&:not(:first-child){
				padding-left: 6px;
			}
			&:not(:last-child){
				padding-right: 8px;
				&:after{
					@include vertRule(right,60%,$white);
				}
			}
		}//end li
	}//end ul
}//end footer-menu