<a name="js-global" id="js-global"></a>

<div class="doc-text">
	<div class="doc-section">
		<h4 class="doc-section-title">Global JS Custom Scripts</h4>
		<div class="doc-section-inner">
			<p><strong>global.js—</strong> Global.js is a file in 00-base/global.js that is run on every single page on the site. You can still limit when the scripts in it are used by taking advantage of behavior contexts, but the site still has to search for those contexts within the DOM.</p>
			<p>Global functions should only be things you know are going to be on every page—like custom scripts for the main navigation, or the scripts to run a fixed footer. Everything else should be in a <a href="#js-component">component JS file</a>.</p>
		</div>
	</div>
</div>
