<a name="access-colors" id="access-colors"></a>

<div class="doc-text">
	<div class="doc-section">
		<h4 class="doc-section-title">Accessibility Color Contrast</h4>
		<div class="doc-section-inner">
			<p>According to web standards, text must have a minimum color contrast of 4.5:1 between the background color and the text. Color contrast can be tested by using any of various <a href="https://webaim.org/resources/contrastchecker/" target="_blank">online tools</a>.</p>
			<p>Design Mockups normally address color contrast, but it is the responsibility of every developer to double check colors for contrast levels and to account for and theme proper contrast levels for elements not covered in mockups.</p>
			<p>Hover states and functional elements should strive to have an accessible level of contrast, but they are not quite as important as the default settings.</p>
			<p>If a mockup color needs to change to account for contrast or something not mocked up changes the overall design, the designer should be consulted before making the change.</p>
		</div>
	</div>
</div>

