/* ================
	 SEARCH
=================== */

///mixin placholder
%searchBlockPlaceholder{
	$placeTint: 1;
	&::-webkit-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
	&::-moz-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
	&:-ms-input-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
	&::-webkit-input-placeholder{
		opacity: $placeTint;
		color: $searchDropPlace;
	}
}

///mixin - placeholderFocus
%searchBlockPlaceholderFocus{
	$placeFocusTint: .2;
	&::-webkit-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
	&::-moz-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
	&:-ms-input-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
	&::-webkit-input-placeholder{
		opacity: $placeFocusTint;
		color: $searchDropPlaceFocus;
	}
}


.search-form-outer{

	//search icon
	.t-search-wrapper{
		.box &{
			@include desk{
				display: none;
			}
		}
		.search-page-block &{
			display: none;
		}
		.t-search{
			border: 1px solid transparent;
			color: $searchIcon;
			&:hover,&:focus{
				color: $searchIconHover;
			}
			i{
				position: relative;
				font-size: 2.2rem;
			}
		}
	}//end t-search-wrapper

	//close search
	.t-search-close{
		position: absolute;
		top: 0;
		right: 0;
		height: 50px;
		width: 50px;
		display: none;
		z-index: 502;
		.box &{
			@include desk{
				display: none;
			}
		}
		.search-page-block &{
			display: none;
		}
		.close-search{
			font-family: $header;
			display: block;
			width: 100%;
			height: 100%;
			color: $searchClose;
			font-size: 2.8rem;
			background: $searchCloseBack;
			cursor: pointer;
			@include safeFlex(column,null,center,center);
			&:hover,&:focus{
				text-decoration: none;
				background: $searchCloseBackHover;
				color: $searchCloseHover;
			}
		}
	}//end search close


	//put search form wrapper at top of screen and full width, hide for slide effect
	#search-form-wrapper{
		position: absolute;
		display: none;
		z-index: 500;
		top: 0;
		left: 0;
		width: 100%;
		@include contentStop{
			@include calc(left, "-50vw + 620px");
			width: 100vw;
		}
		.box &{
			@include desk{
				display: block !important;
				left: auto;
				right: 18px;
				max-width: 280px;
				top: 15px;
			}
		}
		.nav-inline .box &{
			@include desk{
				top: 28px;
			}
		}
		.nav-right .box &{
			@include desk{
				top: 10px;
			}
		}
		.search-page-block &{
			display: block;
			position: relative;
			left: auto;
			margin: $spaceLg 0;
			max-width: 100%;
		}
	}//end search-form-wrapper

	//put search form at top of screen and full width
	#views-exposed-form-site-search-search-results {
		position: relative;
		width: 100%;
		padding: 80px $siteMarginMobile;
		text-align: center;
		background: $searchDropBack;
		@include desk{
			padding: 160px $siteMarginMobile;
		}
		.box &{
			@include desk{
				padding: 0;
				background: none;
			}
		}
		.search-page-block &{
			padding: 60px 20px;
			background: $lightGrey;
			max-width: 1200px;
			@include edgeToEdge;
			@include calc(width, "100% + 40px");
			@include contentStop{
				@include edgeReset;
			}
		}

		//search box input
		.js-form-item-site-search-api-fulltext{
			padding: 10px 0;
			width: 100%;
			margin-bottom: 0;
			max-width: 800px;
			@include auto;
			label{
				@include visuallyHidden;
			}
			input{
				width: 100%;
				background: transparent;
				padding: 9px 5px;
				border: none;
				color: $searchDropText;
				border-bottom: 1px solid $searchDropInputBorder;
				border-radius: 0;
				@extend %searchBlockPlaceholder;
				//prevent yellow chrome autofill inset                                                   
				&:-webkit-autofill{
					-webkit-box-shadow: 0 0 0 1000px $searchDropInputFocus inset;
				}
				@include tab{
					font-size: 2.2rem;
				}
				&:focus{
					outline: 1px solid $searchDropInputFocus;
					@extend %searchBlockPlaceholderFocus;
				}
				.box &{
					@include desk{
						color: $black;
						border: 1px solid $black;
						font-size: 1.6rem;
						@include placeholder;
						&:focus{
							@include placeholderFocus;
							outline: 1px solid $black;
						}
					}
				}
				.search-page-block &{
					color: $black;
					border-bottom-color: $black;
					@include placeholder;
					&:focus{
						@include placeholderFocus;
						outline: 1px solid $black;
					}
				}
			}//end input
		}//end fulltext search

		//search submit button
		.form-actions{
			position: relative;
			@include auto;
			max-width: 800px;
			.form-submit{
				position: absolute;
				top: -46px;
				right: 5px;
				height: 30px;
				width: 30px;
				background: transparent;
				z-index: 2;
				text-indent: -9000px;
				cursor: pointer;
				padding: 0;
				@include tab{
					top: -48px;
					right: 10px;
				}
				&:focus,&:hover{
					& + i{
						color: $searchDropSearchIconHover;
						.search-page-block &{
							color: $hoverLink;
						}
					}
				}
			}//end form submit
			i{
				position: absolute;
				top: -45px;
				right: 8px;
				font-size: 24px;
				color: $searchDropSearchIcon;
				cursor: pointer;
				@include tab{
					font-size: 28px;
					top: -48px;
					right: 12px;
				}
				.box &{
					@include desk{
						color: $black;
						font-size: 24px;
						top: -42px;
						right: 8px;
					}
				}
				.search-page-block &{
					color: $black;
				}
			}//end i
		}//end form-actions
	}//end search block form

}//end search block
