{#
	STYLEGUIDE ONLY: This template is not embedded into Drupal, but the style macros for flexslider nav arrow theming are used in both Pattern Lab and Drupal. Available variables: large-caret, small-caret, triangle.
#}

{{ slider_instructions }}

<div class="paragraph paragraph--type--slideshow">
	{% if widget_title %}
		<h3 class="widget-title">{{widget_title}}</h3>
	{% endif %}			
</div>
