{#
 #  This files used as the canonical style variables guide.
 #  Variables set here will affect elements in both pattern lab and drupal unless otherwise noted.
 #
 #
 #  FOR ALL STYLE MACROS-use just plain css friendly text between the macro tags with no extra spaces, please. When changing macros, please change the Current= value as well.
 #
#}

<p>Macros set here define theming variables in their corresponding twig files in both Pattern Lab and Drupal.</p>

{#######  NAVIGATION VARIABLES  #######}
<div class="macro-tile">
<p><strong>Main nav alignment & Background</strong></br>
	VARIABLES= left, right, center, inline, background</br>
</p>
</div>
{% macro mainNavStyle() %}right{% endmacro %}


{#######  SEARCH VARIABLES  #######}
<div class="macro-tile">
<p><strong>Search Block Style</strong></br>
	VARIABLES= toggle, box</br>
</p>
</div>
{% macro searchBox() %}box{% endmacro %}


{#######  FORM VARIABLES  #######}
<div class="macro-tile">
<p><strong>Radio Form Elements</strong></br>
	VARIABLES= default, custom-options</br>
</p>
</div>
{% macro radioElements() %}custom-options{% endmacro %}

<div class="macro-tile">
<p><strong>Checkbox Form Elements</strong></br>
	VARIABLES= default, custom-options</br>
</p>
</div>
{% macro checkboxElements() %}custom-options{% endmacro %}

{#######  LAYOUT VARIABLES  #######}
<div class="macro-tile">
<p><strong>Sidebar Position</strong></br>
	VARIABLES= side-left, side-right</br>		
</p>
</div>
{% macro sidebar() %}side-left{% endmacro %}

{#######  FOOTER VARIABLES  #######}
<div class="macro-tile">
<p><strong>Footer Version</strong></br>
	VARIABLES= footer-v1, footer-v2</br>
</p>
</div>
{% macro footer() %}footer-v2{% endmacro %}


<div class="macro-tile">
<p><strong>Newsletter Form Type</strong></br>
	VARIABLES= mailchimp, constant</br>
</p>
</div>
{% macro newsletter() %}mailchimp{% endmacro %}

<div class="macro-tile">
<p><strong>Newsletter Display</strong></br>
	VARIABLES= form, modal</br>
</p>
</div>
{% macro newsletterDisplay() %}form{% endmacro %}




{#######  SVG VIEWBOX POSITIONS  ########}

{# SOCIAL MEDIA WIDGET ICONS 
	--------------------------- #}
<div class="macro-tile">
<p><strong>SOCIAL MEDIA WIDGET ICONS</strong></br>
	These variables define the viewbox positions.</br>
	DRUPAL= 0 0 80 80</br>
	FACEBOOK= 80 0 80 80</br>
	TWITTER= 80 80 80 80</br>
	LINKEDIN= 0 80 80 80</br>
	YOUTUBE= 160 0 80 80</br>
</p>
</div>
{% macro drupal()%}0 0 80 80{% endmacro %}
{% macro facebook()%}80 0 80 80{% endmacro %}
{% macro twitter()%}80 80 80 80{% endmacro %}
{% macro linkedin()%}0 80 80 80{% endmacro %}
{% macro youtube()%}160 0 80 80{% endmacro %}
