/* ===============
   FORMS
================= */

@mixin placeholder{
	$placeTint: .4;
	&::-webkit-placeholder{
		opacity: $placeTint;
		color: $placeColor;
	}
	&::-moz-placeholder{
		opacity: $placeTint;
		color: $placeColor;
	}
	&:-ms-input-placeholder{
		opacity: $placeTint;
		color: $placeColor;
	}
	&::-webkit-input-placeholder{
		opacity: $placeTint;
		color: $placeColor;
	}
}

@mixin placeholderFocus{
	$placeFocusTint: .2;
	&::-webkit-placeholder{
		opacity: $placeFocusTint;
		color: $placeFocusColor;
	}
	&::-moz-placeholder{
		opacity: $placeFocusTint;
		color: $placeFocusColor;
	}
	&:-ms-input-placeholder{
		opacity: $placeFocusTint;
		color: $placeFocusColor;
	}
	&::-webkit-input-placeholder{
		opacity: $placeFocusTint;
		color: $placeFocusColor;
	}
}

@mixin textInput{
	border: 2px solid $formElementBorder;
	font-size: 1.6rem;
	font-family: $bodyFont;
	padding: 8px 6px 9px;
	width: 100%;
	line-height: 1;
	min-height: 44px;
	@include placeholder;
	&:focus{
		@include placeholderFocus;
	}
}

@mixin required{
	&:after{
		content: '*';
		color: $validation;
		position: relative;
		top: -1px;
		right: -.5rem;
		@include xSmaller;
	}
}

@mixin customOptions{
	input{
		@include browserWipe;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		outline: none;
		border: 2px solid $checkbox;
		width: 18px;
		height: 18px;
		background-color: $siteBack;
		position: relative;
		top: 3px;
		cursor: pointer;
		&:hover,&:focus{
			border-color: $checkboxHover;
			background-color: $checkboxBackHover;
		}
		&:checked{
			border-color: $checkboxChecked;
			background-color: $checkboxCheckedBack;
			&:hover,&:focus{
				border-color: $checkboxCheckedHover;
				background-color: $checkboxCheckedBackHover;
			}
		}
		&[type="checkbox"]:checked{
			background-image: url('../images/form-elements/checkmark.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
		&[type="radio"]{
			border-radius: 50%;
			&:checked{
				background-color: $siteBack;
				background-image: url('../images/form-elements/radio-dot-red.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 10px 10px;
				&:hover,&:focus{
					background-image: url('../images/form-elements/radio-dot-hover.svg');
				}
			}
		}
	}
}//end custom options


/* FORM ITEM STYLING
-------------------- */
//wipe browser appearance from inputs
input[type=text], input[type=search], input[type=url], input[type=number], textarea, input[type="search"] {
	@include browserWipe;
}

input[type="submit"].button{
	@include submitButton;
}

//validation
.has-error {
	border-color: $validation;
}


// generic form-item
.form-item{
	width: 100%;
	margin-bottom: $spaceMd;
	label{
		font-family: $header;
		font-size: $formLabel;
		color: $black;
		display: block;
		margin-bottom: $spaceXs;
		padding-bottom: 0;
	}
}//end form item


// required items
.form-required,.js-form-required{
	position: relative;
	@include required;
}


//descriptions
.description{
	@include smaller;
}
input + .description{
	padding-top: $spaceXs;
}


//fieldsets
fieldset{
	border: none;
	padding: 0;
	margin: 0;
	legend{
		font-weight: $heavy;
		@include larger;
		margin-bottom: $spaceXs;
	}
	&:not(.js-webform-type-radios){
		.fieldset-wrapper{
			margin: 0 2rem;
		}
	}
}//end fieldset



/* USER LOGIN
--------------- */
.user-login-form,#user-pass{
	max-width: $desk;
	@include auto;
	.form-item:not([type="submit"]){
		max-width: 400px;
	}
	.js-form-type-password{
		position: relative;
		.password-reset{
			position: absolute;
			top: 12px;
			right: 0;
			font-size: 1.5rem;
		}
		.show-password{
			position: absolute;
			top: 54px;
			right: 12px;
			font-size: 1.4rem;
			color: $midGrey;
			&:hover,&:focus{
				color: $hoverLink;
			}
		}
		input#edit-pass{
			padding-right: 56px;
		}
		.description{
			padding-top: 1rem;
		}
	}//end form type password
	.description,p{
		font-size: 1.4rem;
	}
	#edit-submit.button{
		margin: 0;
	}
}//end user login form
