/* ============
	 CHECKBOX
=============== */

form:not(.layout-builder-add-block):not(.layout-builder-update-block){
	.form-checkboxes{
		margin-bottom: 0;
		@include safeFlex(row,wrap,null,null);
		fieldset &{
			margin-left: -2rem;
			margin-right: -2rem;
		}
	}

	fieldset.checkboxes--wrapper{
		.fieldset-wrapper{
			margin: 0;
		}
	}

	.js-form-type-checkbox{
		width: auto;
		margin-right: 2rem;
		label,input{
			display: inline-block;
		}
		label{
			font-weight: $regular;
			margin-bottom: 0;
		}
		input[type="checkbox"]{
			margin-right: .6rem;
		}
		&.custom-options{
			@include customOptions;
		}
	}//end form type checkbox
}//end form
