<a name="site-building" id="site-building"></a>

<div class="doc-text">
	<p>Quick reference to site building (media, cts, panelizer, url patterns, views, paragraphs (including permissions, icons, dev icons, etc).</p>
	<div class="doc-section">
		<h4 class="doc-section-title">Site Building Quick Reference</h4>
		<div class="doc-section-inner">
			
		</div>
	</div>
</div>


