/* ==============
	 GLOBAL STYLES
================= */
body {
	background: $siteBack;
	width: 100%;
	& > .overflow-guard{
		overflow-x: hidden;
	}
	div{
		box-sizing: border-box;

		*{
			box-sizing: inherit;
		}
	}
	&.unpublished{
		background: $unpub;
	}
	.dialog-off-canvas-main-canvas > .layout-container{
		padding-top: 0;
	}
}//end body

.container-inline div{
	display: inline;
}

#block-citizen-patterns-help{
	padding: $elementSpace 0;
	max-width: $contentStop;
	@include auto;
	h2{
		margin-bottom: $spaceSm;
		font-size: 2.4rem;
	}
	p{
		font-size: 1.6rem;
		margin-bottom: $spaceXs;
		small{
			font-size: 1.4rem;
			font-style: italic;
		}
	}
}

/* ADMIN TOOLBAR
------------------ */
.toolbar-tray-horizontal{
	.menu-item--expanded{
		background: none;
	}
	.menu-item{
		&:hover{
			background-color: $iceBlue;
			a{
				background-color: transparent;
			}
		}
		a:focus{
			background-color: $iceBlue;
		}
		a:active{
			background-color: $darkIce;
		}
	}
	ul{
		li.menu-item--expanded{
			ul{
				li.menu-item--expanded{
					background-image: url('../images/admin/caret-right-blue.svg');
					background-size: 16px 16px;
					&:hover{
						background-image: url('../images/admin/caret-right-blue-dark.svg');
					}
				}
			}
		}
	}
}//end toolbar horizontal

/* MAP PINS
-------------- */
//google api map pins
.gm-style-iw{
	strong{
		font-weight: $heavy;
	}
	em{
		font-style: italic;
	}
	h2{
		font-size: 1.6rem;
	}
	h3{
		font-size: 1.4rem;
	}
}


/* SKIP NAV
------------- */
.overflow-guard > a.focusable{
	&:focus{
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 9999;
		display: block;
		width: 100%;
		background: $siteBack;
		padding: .5rem 2rem;
	}
}


/* KINTING
-------------- */
.kint{
	position: fixed;
	z-index: 9999;
	top: 200px;
	right: 5%;
	width: 90%;
	max-width: 800px;
	@include calc(max-height, "90% - 200px");
	overflow: scroll;
}

/* BACK TO TOP
----------------- */
//back to table of contents option
.back-anchor{
	display: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	box-shadow: 3px 3px 5px rgba(35,35,35, 0.35);
	z-index: 500;
	border-radius: 50%;
	a{
		display: block;
		width: 50px;
		height: 50px;
		background: rgba(35,35,35,0.85);
		border-radius: 50%;
		position: relative;
		text-align: center;
		i{
			color: $white;
			font-size: 45px;
			line-height: 45px;
		}
	}
}//end back anchor


/* ADMIN NODE EDIT TABS
----------------- */
#block-citizen-patterns-local-tasks{
	max-width: $contentStop;
	padding: 30px 0 0;
	position: relative;
	@include auto;
	body:not(.logged-in) &{
		display: none;
	}
	.tabs {
		@include listReset;
		@include safeFlex(row,wrap,null,null);
		border-bottom: 1px solid $borderRule;
		li {
			@include onlySmall{
				width: 100%;
			}
			@include tab{
				&:not(:first-child){
					margin-left: -1px;
				}
			}
		}
		a {
			text-transform: none;
			padding: 4px 12px;
			display: block;
			margin-bottom: $spaceXs;
			border: 1px solid $borderRule;
			font-weight: $heavy;
			color: $black;
			&:hover,&:focus{
				background: $buttonBackHover;
				color: $buttonTextHover;
				text-decoration: none;
			}
			&:active{
				background: $buttonBackActive;
				color: $buttonTextActive;
			}
			&.is-active {
				background-color: $gold;
				&:hover,&:focus{
					background: $buttonBackHover;
					color: $buttonTextHover;
				}
				&:active{
					background: $buttonBackActive;
					color: $buttonTextActive;
				}
			}
			@include tab{
				margin-bottom: -1px;
			}
		}//end a
	}// end tabs
}//end local tasks


/* MODALS
----------------- */
.modal-element{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 501;
	background: $modalBack;
	.modal-inner{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 90vw;
		max-width: 640px;
		height: auto;
		max-height: 800px;
		@include translate(-50%,-50%);
		background: $modalContentBack;
		& > .contextual .trigger{
			right: -12px;
		}
	}
	.modal-header{
		position: relative;
		h2{
			padding: 1.5rem 2rem;
			background: $modalHeaderBack;
			@include heading4;
			color: $modalHeader;
		}//end block title
		.modal-close{
			color: $modalHeaderClose;
			font-size: 28px;
			position: absolute;
			top: 1rem;
			right: 2rem;
			&:hover,&:focus{
				color: $modalHeaderCloseHover;
			}
		}
	}//end modal-header
	.modal-content{
		display: none;
		overflow-y: scroll;
		padding: 2rem 2rem 4rem;
		overflow-x: hidden;
		color: $modalContent;
		input:focus{
			cursor: pointer;
		}
	}
}//end modal-element


/* FEATHERLIGHT
------------------- */
.featherlight{
	background: $modalBack;
	.featherlight-content {
		background: $siteBack;
		padding: 0px !important;
		border-bottom: 0px !important;
		margin-left: 5%;
		margin-right: 5%;
		//controls
		.featherlight-close-icon {
			background: none;
			font-size: 24px;
			color: $modalGalButton;
			text-shadow: 2px 2px 3px $modalGalButtonShadow;
			height: 32px;
			width: 32px;
			font-family: $bodyFont;
			&:hover,&:focus{
				color: $modalGalButtonHover;
				background: $modalGalButtonBackHover;
				text-shadow: 2px 2px 3px $modalGalButtonShadowHover;
			}
		}
		.featherlight-previous {
			left: 0;
			top: 0;
			right: auto;
			width: 15%;
			min-width: 60px;
			span {
				display: block;
				width: 12px;
				height: 24px;
				left: 10px;
				font-size: 0;
				@include triangle(left,24px,12px,$white);
				@include tab{
					width: 20px;
					height: 40px;
					@include triangle(left,40px,20px,$white);
				}
			}
			&:hover,&:focus {
				background: $modalGalButtonBackHover;
				span {
					border-right-color: $link;
					@include transition(border-right-color, 0.3s, ease);
				}
			}
		}
		//end previous
		.featherlight-next {
			right: 0;
			top: 0;
			left: auto;
			width: 15%;
			min-width: 60px;
			span {
				display: block;
				width: 12px;
				height: 24px;
				right: 10px;
				font-size: 0;
				@include triangle(right,24px,12px,$white);
				@include tab{
					width: 20px;
					height: 40px;
					@include triangle(right,40px,20px,$white);
				}
			}
			&:hover,&:focus {
				background: $modalGalButtonBackHover;
				span {
					border-left-color: $link;
					@include transition(border-left-color, 0.3s, ease);
				}
			}
		}
		//end next
		img {
			display: block;
		}
		figcaption,.field-caption {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 30;
			background: rgba(35,35,35,0.6);
			color: $white;
			padding: 1rem 2rem;
		}
		.gallery-text {
			max-width: $textMax;
			padding: 4rem 6rem;
		}
	}//end featherlight content
}//end featherlight

/* SLIDER STYLING
-------------- */
.slick-slider {
	.slick-list {
		@include listReset;
	}
	.slick-arrow {
		z-index: 1;
		height: 40px;
		&:before {
			content: '' !important;
			display: block;
		}
		&.slick-prev {
			left: 20px;
			&:before{
				@include triangle(left,24px,12px,$white);
				@include tab {
					@include triangle(left,40px,20px,$white);
				}
			}
			&:hover,&:focus{
				&:before{
					border-right-color: $link;
					@include transition(border-right-color, 0.3s, ease);
				}
			}
		}
		&.slick-next {
			right: 20px;
			&:before{
				@include triangle(right,24px,12px,$white);
				float: right;
				@include tab {
					@include triangle(right,40px,20px,$white);
				}
			}
			&:hover,&:focus{
				&:before{
					border-left-color: $link;
					@include transition(border-left-color, 0.3s, ease);
				}
			}
		}
	}
}//end slick-slider


/* MESSAGING
----------------- */
.drupal-message {
	padding: $spaceMd 20px $spaceMd 45px;
	margin: $spaceMd 0;
	background-repeat: no-repeat;
	background-position: 12px center;
	background-size: 20px 20px;
	font-size: 1.8rem;
	background-color: $messageBack;
	color: $messageText;
	border-left: 10px solid;
	box-shadow: none;
	max-width: $contentStop;
	@include auto;
	a{
		color: $gold;
		&:hover,&:focus{
			opacity: .6;
		}
	}
	&.error-message{
		border-color: $messageErrorBorder;
		background-image: url($messageErrorIcon);
	}
	&.warning-message{
		border-color: $messageWarningBorder;
		background-image: url($messageWarningIcon);
	}
	&.status-message{
		border-color: $messageGoodBorder;
		background-image: url($messageGoodIcon);
	}
}

/* RESPONSIVE PREVIEW
------------------------- */
#responsive-preview-toolbar-tab .responsive-preview-trigger.active{
	background: $green;
}
#responsive-preview-toolbar-tab .responsive-preview-trigger.active:hover{
	background: $midGrey;
}

#responsive-preview-modal-background{
	background: $transGrey;
}
#responsive-preview-frame-container{
	border-radius: 5px;
}
.responsive-preview-device-label-text{
	position: relative;
	top: -2px;
	color: $offWhite;
}
.responsive-preview-device-label-text:after{
	content: none !important;
}
.responsive-preview-device-label-text span{
	display: none;
}
.responsive-preview-control.responsive-preview-close{
	right: -5px;
}
#responsive-preview-orientation:before{
	height: 20px;
	width: 20px;
	background: url('../images/preview/orientation-white.svg') no-repeat;
	background-size: 13px 13px;
	background-position: center;
	top: 6px;
}
#responsive-preview-close:before{
	height: 20px;
	width: 20px;
	background: url('../images/preview/close-white.svg') no-repeat;
	background-size: 13px 13px;
	background-position: center;
	top: 6px;
}

.responsive-preview-frame{
	#block-citizen-patterns-local-tasks{
		display: none !important;
	}
}

/* MODERATION SIDEBAR
------------------------ */
.ui-dialog-off-canvas #drupal-off-canvas{ 
	.js-form-type-checkbox{
		@include customOptions;
	}
}
.moderation-sidebar-actions{
	a,input.button{
		&:hover,&:focus{
			text-decoration: underline !important;
		}
	}
}
