/* ==============
	 GLOBAL STYLES
================= */
body {
	background: $siteBack;
	width: 100%;
	& > .overflow-guard{
		overflow-x: hidden;
	}
	div{
		box-sizing: border-box;

		*{
			box-sizing: inherit;
		}
	}
	&.unpublished{
		background: $unpub;
	}
	.dialog-off-canvas-main-canvas > .layout-container{
		padding-top: 0;
	}
}//end body

.container-inline div{
	display: inline;
}

#block-citizen-patterns-help{
	padding: $elementSpace 0;
	max-width: $contentStop;
	@include auto;
}

/* MAP PINS
-------------- */
//google api map pins
.gm-style-iw{
	strong{
		font-weight: $heavy;
	}
	em{
		font-style: italic;
	}
	h2{
		font-size: 1.6rem;
	}
	h3{
		font-size: 1.4rem;
	}
}


/* SKIP NAV
------------- */
.overflow-guard > a.focusable{
	&:focus{
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 9999;
		display: block;
		width: 100%;
		background: $siteBack;
		padding: .5rem 2rem;
	}
}


/* KINTING
-------------- */
.kint{
	position: fixed;
	z-index: 9999;
	top: 200px;
	right: 5%;
	width: 90%;
	max-width: 800px;
	@include calc(max-height, "90% - 200px");
	overflow: scroll;
}

/* BACK TO TOP
----------------- */
//back to table of contents option
.back-anchor{
	display: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	box-shadow: 3px 3px 5px rgba(35,35,35, 0.35);
	z-index: 500;
	border-radius: 50%;
	a{
		display: block;
		width: 50px;
		height: 50px;
		background: rgba(35,35,35,0.85);
		border-radius: 50%;
		position: relative;
		text-align: center;
		i{
			color: $white;
			font-size: 45px;
			line-height: 45px;
		}
	}
}//end back anchor


/* ADMIN NODE EDIT TABS
----------------- */
#block-citizen-patterns-local-tasks{
	max-width: $contentStop;
	padding: 30px 0 0;
	position: relative;
	@include auto;
	body:not(.logged-in) &{
		display: none;
	}
	&:after{
		@include fullBack($darkGrey);
	}
	.tabs {
		@include listReset;
		@include safeFlex(row,wrap,null,null);
		@include bleed(10px);
		li {
			padding: 0 10px;
			@include onlySmall{
				width: 100%;
			}
		}
		a {
			@include outlineButton($white);
			text-transform: none;
			padding: 4px 12px;
			display: block;
			&.is-active {
				background-color: $white;
				color: $black;
			}
			&:focus,&:hover {
				background-color: $offWhite;
				color: $black;
				opacity: .8;
			}
		}
	}// end tabs
}//end local tasks


/* MODALS
----------------- */
.modal-element{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 501;
	background: $modalBack;
	.modal-inner{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 90vw;
		max-width: 640px;
		height: auto;
		max-height: 800px;
		@include translate(-50%,-50%);
		background: $modalContentBack;
		& > .contextual .trigger{
			right: -12px;
		}
	}
	.modal-header{
		position: relative;
		h2{
			padding: 1.5rem 2rem;
			background: $modalHeaderBack;
			@include heading4;
			color: $modalHeader;
		}//end block title
		.modal-close{
			color: $modalHeaderClose;
			font-size: 28px;
			position: absolute;
			top: 1rem;
			right: 2rem;
			&:hover,&:focus{
				color: $modalHeaderCloseHover;
			}
		}
	}//end modal-header
	.modal-content{
		display: none;
		overflow-y: scroll;
		padding: 2rem 2rem 4rem;
		overflow-x: hidden;
		color: $modalContent;
		input:focus{
			cursor: pointer;
		}
	}
}//end modal-element


/* =============
	MESSAGING
================ */
.drupal-message {
	margin: 2rem auto;
	padding: 10px 10px 10px 50px; /* LTR */
	background-color: $white;
	background-image: url("../images/message-24-ok.png");
	background-position: 8px 8px; /* LTR */
	background-repeat: no-repeat;
	border: 1px solid #be7;
	max-width: $contentStop;
}

.messages--status,.status-message {
	@extend .drupal-message;
	color: #234600;
}
.messages--warning,.warning-message {
	@extend .drupal-message;
	color: #840;
	background-image: url("../images/message-24-warning.png");
	border-color: #ed5;
}
.messages--error,.error-message {
	@extend .drupal-message;
	color: #8c2e0b;
	background-image: url("../images/message-24-error.png");
	border-color: #ed541d;
}
.messages__list {
	margin: 0;
}
.messages__item {
	list-style-image: none;
}

