/* ==================
   FOOTER COPYRIGHT
==================== */

.block-copyright{
	width: 100%;
	text-align: center;
	@include tab{
		width: 50%;
		text-align: left;
	}
	p{
		margin:0;
		font-size: 14px;
		color: $transWhite;
	}
}//end footer-copyright