{#
	 STYLEGUIDE ONLY: This template is not used in Drupal.
#}

{% import "@base/macros.twig" as styles %}

{% block headerOpen %}
{{ header_instructions }}
<div class="layout-container pl-spacer">
{% endblock %}

<header role="banner" class="nav-{{ styles.mainNavStyle }}">
  <div>

		{% include "@composite/01-blocks/01-branding/_branding-block.twig" 
			with{
				logo: header_logo,
				sitename: header_sitename
			}
		%}
		 
		{% if header_search %}
			{% embed "@composite/01-blocks/02-search/search-block.twig" %}
				{% block searchOpen %}{# remove help searcg toggle descriptor #}{% endblock %}
			{% endembed %}
		{% endif %}
		 
		{% include "@composite/01-blocks/03-superfish/_superfish-block.twig" %}
		 
	</div>
</header>

{% block headerClose %}
</div>
{% endblock %}