{#
 Drupal: This file is embedded in the site-footer.twig pattern lab file.
#}

<div class="block block--system-menu block-footer-menu">
	{% if menuTitle %}
		<h2 class="block-title">{{ menuTitle }}</h2>
	{% endif %}
	{% block footer_menu %}
		<ul>
			{% for link in menu %}
				<li><a href="{{ link_url }}">{{ link.link_text }}</a></li>
			{% endfor %}
		</ul>
	{% endblock %}
</div>