/* =================
   FOOTER BLOCKS BLOCK
=================== */

/* ABOUT
-------------- */
.block-2{
	width: 100%;
	@include tab{
		width: 33.333%;
	}
}//end block-2 about


/* NEWSLETTER
-------------- */
.block-newsletter{
	width: 100%;
	@include tab{
		width: 33.33%;
	}
}//end block-newsletter

/* FOOTER MENU
-------------- */
.block-footer-menu{
	width: 100%;
	@include tab{
		width: 33.33%;
	}
	ul:not(.contextual-links){
		@include listReset;
		@include safeFlex(row,wrap,center,start);
		@include tab{
			@include safeFlex(row,wrap,start,start);
		}
		li{
			position: relative;
			a{
				display: block;
				color: $prefooterLink;
				.footer-v1 &{
					text-decoration: underline;
				}
				&:hover,&:focus{
					color: $prefooterLinkHover;
					@include transAll(.3s);
					.footer-v1 &{
						text-decoration: none;
					}
				}
			}
			&:not(:first-child){
				padding-left: 6px;
				@include tab{
					padding-left: 0;
				}
			}
			&:not(:last-child){
				padding-right: 8px;
				@include tab{
					margin-right: 6px;
				}
				&:after{
					@include vertRule(right,60%,$white);
				}
			}
		}//end li
	}//end ul
}//end footer-menu

/* CONNECT
-------------- */
.block-social-media-links{
	width: 100%;
	@include tab{
		max-width: 320px;
		@include safeFlexOrder(2);
	}
	.platform-links{
		@include onlySmall{
			@include safeFlex(row,wrap,center,start);
		}
		// a{
		// 	color: $footerLink;
		// 	&:hover,&:focus{
		// 		color: $footerLinkHover;
		// 	}
		// }
	}
}//end block social-links


/* COPYRIGHT
-------------- */
.block-1{
	@include onlySmall{
		width: 100%;
	}	
	.copyright{
		text-align: center;
		font-size: 1.5rem;
		@include tab{
			text-align: left;
		}
		& > span:first-child{
			padding-right: .25em;
			& + *{
				display: inline;
			}
		}
		p{
			margin:0;
		}
	}
}//end footer-copyright
