/* =================
   FOOTER BLOCKS BLOCK
=================== */

/* ABOUT
-------------- */
.block-2{

}//end block-2 about

/* CONNECT
-------------- */
.social-links{
	@include listReset;
	li{
		display: inline-block;
		margin-right: 10px;
		a{
			color: $footerIcon;
			font-size: 32px;
			&:hover,&:focus{
				color: $footerIconHover;
			}
		}
	}
}


/* NEWSLETTER
-------------- */
.block-newsletter{
	p{
		a{
			color: $footerLink;
			text-decoration: underline;
			&:hover,&:focus{
				color: $footerLinkHover;
				text-decoration: none;
			}
		}
	}
	#mc_embed_signup{
		background: none;
		font: inherit;
		width: 100%;
		#mc-embedded-subscribe-form{
			padding: 0;
		}
		#mce-EMAIL{
			@include textInput;
		}
		#mc-embedded-subscribe{
			@include submitButton;
			width: auto;
		}
	}
	.ctct-form-custom{
		.grecaptcha-badge{
			display: none !important;
		}
	}
}//end block-4 newsletter

/* FOOTER MENU
-------------- */
.block-footer-menu{
	width: 100%;
	@include onlySmall{
		@include safeFlexOrder(2);
	}
	ul:not(.contextual-links){
		@include listReset;
		@include safeFlex(row,wrap,center,null);
		@include tab{
			.footer-v1 &{
				@include safeFlex(row,wrap,start,start);
				li{
					width: 50%;
					&:not(:first-child){
						padding-left: 0
					}
					&:not(:last-child){
						padding-right: 0 !important;
						&:after{
							content: none;
						}
					}
				}
			}//end footer v1
		}//end tab
		li{
			position: relative;
			a{
				display: block;
				color: $footerLink;
				.footer-v1 &{
					text-decoration: underline;
				}
				&:hover,&:focus{
					color: $footerLinkHover;
					@include transAll(.3s);
					.footer-v1 &{
						text-decoration: none;
					}
				}
			}
			&:not(:first-child){
				padding-left: 6px;
			}
			&:not(:last-child){
				padding-right: 8px;
				&:after{
					@include vertRule(right,60%,$white);
				}
			}
		}//end li
	}//end ul
}//end footer-menu


/* COPYRIGHT
-------------- */
.block-1{
	width: 100%;
	.copyright{
		text-align: center;
		font-size: 1.5rem;
		& > span:first-child{
			padding-right: .25em;
			& + *{
				display: inline;
			}
		}
		p{
			margin:0;
		}
	}
}//end footer-copyright
