/* =================
   FOOTER BLOCKS BLOCK
=================== */

/* ABOUT
-------------- */
.block-2{
	@include tab{
		width: 33.333%;
	}
}//end block-2 about

/* CONNECT
-------------- */
.block-social-links{
	.platforms{
		@include listReset;
		li{
			display: inline-block;
			margin-right: 10px;
			a{
				color: $footerIcon;
				font-size: 32px;
				&:hover,&:focus{
					color: $footerIconHover;
				}
			}
		}
	}//end platforms
}//end block social-links


/* NEWSLETTER
-------------- */
.block-newsletter{
	width: 100%;
	@include tab{
		width: 33.33%;
	}
	.field.body{
		& > *:last-child{
			margin-bottom: 0;
		}
		&.has-modal{
			& > *:nth-last-child(2){
				display: inline;
			}
		}
		a{
			color: $footerLink;
			text-decoration: underline;
			&:hover,&:focus{
				color: $footerLinkHover;
				text-decoration: none;
			}
		}
	}
	#mc_embed_signup{
		background: none;
		font: inherit;
		width: 100%;
		label{
			display: none;
		}
		#mc-embedded-subscribe-form{
			padding: 0;
		}
		#mce-EMAIL{
			@include textInput;
		}
		#mc-embedded-subscribe{
			@include submitButton;
			width: auto;
		}
	}
	.ctct-form-custom{
		.grecaptcha-badge{
			display: none !important;
		}
	}
}//end block-4 newsletter

/* FOOTER MENU
-------------- */
.block-footer-menu{
	width: 100%;
	@include tab{
		width: 33.33%;
	}
	ul:not(.contextual-links){
		@include listReset;
		@include safeFlex(row,wrap,center,start);
		@include tab{
			@include safeFlex(row,wrap,start,start);
		}
		li{
			position: relative;
			a{
				display: block;
				color: $footerLink;
				.footer-v1 &{
					text-decoration: underline;
				}
				&:hover,&:focus{
					color: $footerLinkHover;
					@include transAll(.3s);
					.footer-v1 &{
						text-decoration: none;
					}
				}
			}
			&:not(:first-child){
				padding-left: 6px;
				@include tab{
					padding-left: 0;
				}
			}
			&:not(:last-child){
				padding-right: 8px;
				@include tab{
					margin-right: 6px;
				}
				&:after{
					@include vertRule(right,60%,$white);
				}
			}
		}//end li
	}//end ul
}//end footer-menu


/* COPYRIGHT
-------------- */
.block-1{
	width: 100%;
	.copyright{
		text-align: center;
		font-size: 1.5rem;
		& > span:first-child{
			padding-right: .25em;
			& + *{
				display: inline;
			}
		}
		p{
			margin:0;
		}
	}
}//end footer-copyright
