/**
 * @file
 * Visual styles non-node form css.
 */

/* GLOBAL NON-FORM ELEMENTS
--------------------- */
header.content-header{
	background: #1c2c3f;
	color: #fff;
	min-height: 60px;
}

header.content-header .shortcut-action__icon{
	background: transparent url(../icons/admin-icons/shortcut-star.svg) no-repeat left top;
}
header.content-header .shortcut-action--add:hover .shortcut-action__icon,header.content-header .shortcut-action--add:focus .shortcut-action__icon{
	background: transparent url(../icons/admin-icons/shortcut-star.svg) no-repeat left top;
	opacity: .6;
}
header.content-header .shortcut-action--remove .shortcut-action__icon{
	background: transparent url(../icons/admin-icons/shortcut-star-remove.svg) no-repeat left top;
}
header.content-header .shortcut-action--remove:hover .shortcut-action__icon,header.content-header .shortcut-action--remove:focus .shortcut-action__icon{
	background: transparent url(../icons/admin-icons/shortcut-star-remove.svg) no-repeat left top;
	opacity: .6;
}

#block-seven-primary-local-tasks .tabs__tab a{
 	color: #244c7b;
}
#block-seven-primary-local-tasks .tabs__tab.is-active a{
	color: #0074bd;
}

/* ADMIN CONTENT VIEW
-------------------- */
.view-content.view-display-id-page_1,.view-display-id-media_page_list,.view-files.view-display-id-page_1{
	margin-bottom: -80px;
}

.view-content.view-display-id-page_1 .view-filters,.view-display-id-media_page_list .view-filters,.view-files.view-display-id-page_1 .view-filters,.view-paragraphs-library.view-display-id-widget_library .view-filters{
	background: #dbe4e4;
	padding: 1em 2.5em 2em;
	margin-left: -2.5em;
	margin-right: -2.5em;
	width: -webkit-calc(100% + 5em);
	width: -moz-calc(100% + 5em);
	width: calc(100% + 5em);
	box-sizing: border-box;
	position: relative;
	z-index: 20;
	margin-bottom: -1px;
}
.view-content.view-display-id-page_1 .view-content,.view-display-id-media_page_list .view-content,.view-files.view-display-id-page_1 .view-content,.view-paragraphs-library.view-display-id-widget_library .view-content{
	position: relative;
}
@media screen and (min-width: 1000px){
	.view-content.view-display-id-page_1 .view-content:before,.view-display-id-media_page_list .view-content:before,.view-files.view-display-id-page_1 .view-content:before,.view-paragraphs-library.view-display-id-widget_library .view-content:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: -2.5em;
		z-index: -1;
		width: 100vw;
		height: 41px;
		background: #f5f5f2;
		border-bottom: 1px solid #bfbfba;
	}
}

.view-display-id-media_page_list .view-filters .form-item-field-media-categories-target-id{
	max-width: 300px;
	margin-right: 20px;
}

.view-content.view-display-id-page_1 .view-filters .form-actions,.view-display-id-media_page_list .view-filters .form-actions,.view-files.view-display-id-page_1 .view-filters .form-actions,.view-paragraphs-library.view-display-id-widget_library .view-filters .form-actions{
  clear: none;
  float: left;
}

.view-content.view-display-id-page_1 .view-filters .form-actions input,.view-display-id-media_page_list .view-filters .form-actions input,.view-files.view-display-id-page_1 .view-filters .form-actions input,.view-paragraphs-library.view-display-id-widget_library .view-filters .form-actions input{
	margin-top: 17px;
}

.view-content.view-display-id-page_1 .views-form > form > .form-actions,.view-display-id-media_page_list .views-form > form > .form-actions,.view-files.view-display-id-page_1 .views-form > form > .form-actions,.view-paragraphs-library.view-display-id-widget_library .views-form > form > .form-actions{
	display: none;
}

.view-content.view-display-id-page_1 .views-form > form,.view-display-id-media_page_list .views-form > form,.view-paragraphs-library.view-display-id-widget_library .views-form > form{
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
	-ms-flex-direction: column;
	flex-wrap: nowrap;
	-ms-flex-wrap: none;
}

.view-content.view-display-id-page_1 .views-form > form > #edit-header,.view-display-id-media_page_list .views-form > form > #edit-header,.view-files.view-display-id-page_1 .views-form > form > #edit-header,.view-paragraphs-library.view-display-id-widget_library .views-form > form > #edit-header{
	order: 99;
	-ms-flex-order: 99;
}

#views-form-content-page-1 #edit-header.form-wrapper,#views-form-media-media-page-list #edit-header.form-wrapper,.view-files.view-display-id-page_1 #edit-header.form-wrapper,.view-paragraphs-library.view-display-id-widget_library #edit-header.form-wrapper{
	padding: 0 0 3em;
	width:  100%;
	max-width: 300px;
}


/* ENTITY BROWSER
------------------------ */
.eb-media{
	padding-bottom: 30px;
}

.eb-media .views-row .views-col{
	margin: 0 0 3em;
	position: relative;
}
.eb-media .views-field-entity-browser-select .form-type-checkbox{
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}

.eb-media .views-field-entity-browser-select .form-type-checkbox input[type="checkbox"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 200px;
	width: 250px;
	border: 8px solid transparent;
}
.eb-media  .views-field-entity-browser-select .form-type-checkbox input[type="checkbox"]:hover,.eb-media .views-field-entity-browser-select .form-type-checkbox input[type="checkbox"]:focus{
	border: 8px solid #bf0e0e;
	outline: none;
}
.eb-media  .views-field-entity-browser-select .form-type-checkbox input[type="checkbox"]:checked{
	border: 8px solid #ccc;
	outline: none;
}
.eb-media .views-field-entity-browser-select .form-type-checkbox input[type="checkbox"]:checked:hover,.eb-media .views-field-entity-browser-select .form-type-checkbox input[type="checkbox"]:checked:focus{
	border: 8px solid #ddd;
	outline: none;
}

/* eb select button */
.entity-browser-form > .form-actions{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 30;
	width: 100%;
	background: #fff;
	padding-top: 1em;
	margin: 0;
}

/* hide media revisions feild */
#edit-inline-entity-form #edit-inline-entity-form-revision-log-message-wrapper,.media-form .vertical-tabs{
	display: none;
}

/* CUSTOM MEDIA BROWSER FILE ICONS
------------------------------- */
.eb-media .views-field .file-extension,.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id,.view-media.view-display-id-media_page_list{
	padding-bottom: 10px;
}
.eb-media .views-field .file-extension span,.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id span.doc{
	display: block;
	height: 160px;
	width: 160px;
	padding-bottom: 40px;
	background: #eee;
}
.view-media.view-display-id-media_page_list .views-field-thumbnail__target-id span.doc{
	display: block;
	height: 75px;
	width: 60px;
	background: #eee;
}
.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id span.doc img,.view-media.view-display-id-media_page_list .views-field-thumbnail__target-id span.doc img{
	display: none;
}
.eb-media .views-field .file-extension [class$='.pdf'],.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id span.doc[class$='pdf'],.view-media.view-display-id-media_page_list .views-field-thumbnail__target-id span.doc[class$='pdf']{
	background: url(../icons/file-icons/pdf.svg) no-repeat;
	background-position: center;
	background-size: contain;
}
.eb-media .views-field .file-extension [class$='.doc'],.eb-media .views-field .file-extension [class$='.docx'],.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id span.doc[class$='doc'],.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id span.doc[class$='docx'],.view-media.view-display-id-media_page_list .views-field-thumbnail__target-id span.doc[class$='doc'],.view-media.view-display-id-media_page_list .views-field-thumbnail__target-id span.doc[class$='docx']{
	background: url(../icons/file-icons/word.svg) no-repeat;
	background-position: center;
	background-size: contain;
}
.eb-media .views-field .file-extension [class$='.xls'],.eb-media .views-field .file-extension [class$='.xlsx'],.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id span.doc[class$='xls'],.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id span.doc[class$='xlsx'],.view-media.view-display-id-media_page_list .views-field-thumbnail__target-id span.doc[class$='xls'],.view-media.view-display-id-media_page_list .views-field-thumbnail__target-id span.doc[class$='xlsx']{
	background: url(../icons/file-icons/excel.svg) no-repeat;
	background-position: center;
	background-size: contain;
}
.eb-media .views-field .file-extension [class$='.ppt'],.eb-media .views-field .file-extension [class$='.pptx'],.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id span.doc[class$='ppt'],.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id span.doc[class$='pptx'],.view-media.view-display-id-media_page_list .views-field-thumbnail__target-id span.doc[class$='ppt'],.view-media.view-display-id-media_page_list .views-field-thumbnail__target-id span.doc[class$='pptx']{
	background: url(../icons/file-icons/powerpoint.svg) no-repeat;
	background-position: center;
	background-size: contain;
}

/* INLINE ENTITY FORM (ADD MEDIA) BUTTONS
------------------- */
input[value="Add new media"],input[value="Add existing media"]{
	margin-top: 1em;
	margin-bottom: 1em;
}
.ief-form-bottom .fieldset-wrapper > div input[value="Select Image"]{
	margin: 1em 0 2em;
}
.ief-form-bottom .fieldset-wrapper > div .ief-entity-submit[value="Add media"]{
	display: none;
}
.ief-form-bottom .fieldset-wrapper > div [value="Cancel"]{
	margin-left: 0;
}


/* SELECT 2
--------------- */
body .select2-container{
	min-width: 150px;
	margin-bottom: .5em;
}
body .select2-container--default.select2--container--focus{
	box-shadow: 0 2px 2px rgba(35,35,35,0.3);
}
body .select2-container--default .select2-selection--single,body .select2-container--default .select2-selection--multiple{
	width: 100%;
	font-size: 13px;
	border: 1px solid #676767;
	border-radius: 0;
	height: auto;
}
body .select2-container--default .select2-selection--single .select2-selection__choice__remove,body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	position: relative;
	z-index: 999;
}
body .select2-container--default .select2-selection--single .select2-selection__rendered{
	padding: 1px 32px 1px 10px;
	color: #676767;
	text-align: left;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow{
	width: 0;
	height: 0;
	-webkit-transform: rotate(0.05deg);
	-moz-transform: scale(1.1);
	transform: rotate(0.05deg);
	border-right: 5px double rgba(0,0,0,0);
	border-left: 5px double rgba(0,0,0,0);
	border-top: 8px solid #676767;
	top: 14px;
	right: 10px;
	cursor: pointer;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow b{
	display: none;
}
body .select2-container--default .select2-selection--multiple .select2-search--inline{
	position: relative;
	float: none;
	padding: 1px 3px;
}
body .select2-container--default .select2-selection--multiple .select2-search--inline:after{
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	right: 2px;
	cursor: pointer;
	height: 0;
	width: 0;
	-webkit-transform: rotate(0.05deg);
	-moz-transform: scale(1.1);
	transform: rotate(0.05deg);
	border-right: 5px double rgba(0,0,0,0);
	border-left: 5px double rgba(0,0,0,0);
	border-top: 8px solid #676767;
}
body .select2-container--default .select2-selection--multiple .select2-search--inline input.select2-search__field{
	color: #676767;
}
body .select2-container--default .select2-selection--multiple .select2-search--inline input.select2-search__field::-webkit-placeholder{
	opacity: .4;
	color: #454545;
}
body .select2-container--default .select2-selection--multiple .select2-search--inline input.select2-search__field::-moz-placeholder{
	opacity: .4;
	color: #454545;
}
body .select2-container--default .select2-selection--multiple .select2-search--inline input.select2-search__field:-ms-input-placeholder{
	opacity: .4;
	color: #454545;
}
body .select2-container--default .select2-selection--multiple .select2-search--inline input.select2-search__field::-webkit-input-placeholder{
	opacity: .4;
	color: #454545;
}
body .select2-container--default .select2-selection--multiple .select2-search--inline input.select2-search__field:focus::-webkit-placeholder{
	opacity: .2;

}
body .select2-container--default .select2-selection--multiple .select2-search--inline input.select2-search__field:focus::-moz-placeholder{
	opacity: .2;
}
body .select2-container--default .select2-selection--multiple .select2-search--inline input.select2-search__field:focus:-ms-input-placeholder{
	opacity: .2;
}
body .select2-container--default .select2-selection--multiple .select2-search--inline input.select2-search__field:focus::-webkit-input-placeholder{
	opacity: .2;
}
body .select2-container--default .select2-selection--multiple .select2-selection__choice{
	border-radius: 0;
	background: #efefef;
}
body .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow,body .select2-container--default.select2-container--open.select2-container--focus .select2-selection--single .select2-selection__arrow{
	border-top: 0;
	border-bottom: 8px solid #676767;
}
body .select2-container--default.select2-container--open select2-selection--multiple .select2-search--inline:after,body .select2-container--default.select2-container--open.select2-container--focus select2-selection--multiple .select2-search--inline:after{
	border-top: 0;
	border-bottom: 8px solid #676767;
}
.select2-container .select2-dropdown{
	border: 1px solid #676767;
	border-radius: 0;
	border-top: 0;
	padding: 0;
}
.select2-container--default .select2-results__option[aria-selected="true"]{
	background-color: #efefef;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #0074bd;
}
body select{
	border-radius: 0;
	background: url(../icons/admin-icons/caret-down.svg) no-repeat 99% 63%, #fff;
}
body select:hover,body select:focus{
	background: url(../icons/admin-icons/caret-down.svg) no-repeat 99% 63%, #ececec;
}

/* OTHER FORM ELEMENTS
--------------------- */
.js-form-type-textfield input.form-text,.js-form-type-email input.form-email,.js-form-type-password input.form-text,.js-form-type-tel input.form-tel,.js-form-type-search input.form-search,.js-form-type-textarea textarea.form-textarea{
	border: 1px solid #676767;
	border-radius: 0;
	font-size: 13px;
	padding: 7px 6px;
}

.js-form-type-search input.form-search::-webkit-placeholder{
	opacity: .4;
	color: #454545;
}
.js-form-type-search input.form-search::-moz-placeholder{
	opacity: .4;
	color: #454545;
}
.js-form-type-search input.form-search:-ms-input-placeholder{
	opacity: .4;
	color: #454545;
}
.js-form-type-search input.form-search::-webkit-input-placeholder{
	opacity: .4;
	color: #454545;
}
.js-form-type-search input.form-search:focus::-webkit-placeholder{
	opacity: .2;
}
.js-form-type-search input.form-search:focus::-moz-placeholder{
	opacity: .2;
}
.js-form-type-search input.form-search:focus:-ms-input-placeholder{
	opacity: .2;
}
.js-form-type-search input.form-search:focus::-webkit-input-placeholder{
	opacity: .2;
}


input[type="submit"].button{
	padding: 7px 1.5em;
	border-radius: 0;
	border-color: #676767;
	margin-bottom: .5em;
}
body .button--primary{
	border-radius: 0;
	padding: 9px 1em;
}
body .button--primary.button--small{
	padding: 6px 1em;
}

#edit-clear-cache input[type="submit"].button{
	background: #24850a;
	color: #fff;
}
#edit-clear-cache input[type="submit"].button:hover,#edit-clear-cache input[type="submit"].button:focus{
	background: #0f4500;
}

 /* DRUPAL MODALS
------------------- */
#drupal-modal .captcha-admin-links{
	display: none;
}

/* ADMIN TOOLBAR
------------------ */
#toolbar-bar{
  position: fixed !important;
  width: 100%;
}
#toolbar-bar .toolbar-tab.env span.toolbar-item{
  padding: 1em 1.333em;
  font-weight: bold;
  display: block;
  background: rgba(255,255,255,0.8);
  color: #000 !important;
  cursor: default;
}
#toolbar-bar .toolbar-tab.env span.toolbar-item:hover{
  text-decoration: none;
}
#toolbar-bar.local{
  background-color: rgb(0,0,0);
}
#toolbar-bar.local .toolbar-tab .toolbar-item{
  color: #ccc !important;
}
#toolbar-bar.dev{
  background-color: rgb(0,128,0);
}
#toolbar-bar.dev .toolbar-tab .toolbar-item{
  color: #fff !important;
}
#toolbar-bar.test{
  background-color: rgb(217,153,1);
}
#toolbar-bar.test .toolbar-tab .toolbar-item{
  color: #000 !important;
}
#toolbar-bar.live{
  background-color: rgb(153,0,0);
}
#toolbar-bar.live .toolbar-tab .toolbar-item{
  color: #fff !important;
}
.toolbar-tray-horizontal .menu-item--expanded{
	background-color: #fff !important;
}
.toolbar-tray-horizontal .menu-item:hover{
	background-color: #f5f5f2 !important;
}


/* WEBFORMS HOTFIX FOR BROKEN CKE
------------------------------ */
.webform-form textarea.form-textarea,.webform-ui-element-form textarea.form-textarea{
  visibility: visible !important;
}


/* ADMIN RESTRICTED ITEMS
------------------------ */
/* Hide restricted block type titles */
.path-block:not(.role-administrator) #block-content-restricted-edit-form .field--name-info{
	display: none;
}

/* REMOVE REVISION FROM MEDIA REFERENCE FIELD
--------------------------------------------- */
.field--type-entity-reference .field--name-revision-log-message{
	display: none;
}

/* REMOVE RELATIONS FIELD FROM TAXONOMY TERMS
----------------------------------------------- */
.taxonomy-term-form #edit-relations{
	display: none;
}
