/* =================
	 PAGE MENU
===================== */


.block--system-menu.page-menu{
	@include onlySmall{
		@include spacer(2);
	}
	h2.block-title{
		position: relative;
		padding: .5em 1em;
		background: $lightGrey;
		@include onlySmall{
			padding: 1em;
			@include edgeToEdge;
		}	 
		a.page-menu-toggle{
			margin-right: 1em;
			@include tab{
				display: none;
			}
		}
	}
	//top level
	#page-menu-wrapper{
		display: none;
		@include tab{
			display: block !important;
		}
		& > ul:not(.contextual-links){
			@include listReset;

			//child menus
			ul:not(.contextual-links){
				margin: .25em 0;
				display: none;
				padding-left: 12px;
				@include transAll(.3s);
				li{
					//reset sub menus to base font size
					@include baseFontSize;
					a:hover{
						@include transAll(.3s);
					}
				}
			}
			//set first livel to larger size
			& > li{
				font-size: 20px;
			}
			//global menu items
			li{
				padding-top: 4px;
				padding-bottom: 4px;
				list-style: none;
				//active link
				a.is-active{
					color: $black;
				}
				//shift non parents over to match expander spacing
				&:not(.parent){
					padding-left: .8em;
				}

				//parents
				&.parent{
					& > .expander{
						@include browserWipe;
						color: $link;
						border: 0;
						padding: 0;
						background: none;
						cursor: pointer;
						&:hover,&:focus,&:active{
							color: $hoverLink;
						}
						&:before{
							content: "+";
						}
					}
					&.expanded{
						& > .expander{
							color: $hoverLink;
							&:before{
								content: "–";
							}
						}
						//show next menu level
						& > ul:not(.contextual-links){
							display: block;
							height: 0;
							@include animation(slideDown .2s 1 forwards);
							@include backfaceVisibility(hidden);
						}
						& > a{
							color: $black;
						}
					}//end when expanded
				}//end parent

			}//end global li
		}//end first level ul
	}//end page menu wrapper
	
}//end .block--system-menu.page-menu nav


/* PATTERN LAB ONLY
-------------------- */
.pl .page-menu{
	& > ul:not(:first-of-type){
		display: none;
	}
} 