/* =================
	 PAGE MENU
===================== */

.block--system-menu.page-menu{
	@include onlySmall{
		margin-bottom: $spaceLg;
	}
	h2.block-title{
		position: relative;
		padding: 1rem $siteMarginMobile;
		background: $lightGrey;
		@include onlySmall{
			padding: 2rem;
			@include edgeToEdge;
		}	 
		a.page-menu-toggle{
			margin-right: 2rem;
			@include tab{
				display: none;
			}
		}
	}
	//top level
	#page-menu-wrapper{
		display: none;
		@include onlySmall{
			padding-left: $siteMarginMobile;
			padding-right: $siteMarginMobile;
			max-width: 440px;
			@include auto;
		}
		@include desk{
			display: block !important;
		}
		& > ul:not(.contextual-links){
			@include listReset;

			//child menus
			ul:not(.contextual-links){
				margin: .5rem 0;
				display: none;
				padding-left: 12px;
				&.expanded{
					display: block;
				}
			}
			//global menu items
			li{
				padding-top: 4px;
				padding-bottom: 4px;
				list-style: none;
				position: relative;
				padding-left: 2.5rem;
				//active link
				a{
					text-decoration: none;
					display: block;
					&.is-active{
						color: $black;
						&:hover,&:focus{
							color: $hoverLink;
						}
					}
				}
				//parents
				&.parent{
					& > .expander{
						position: absolute;
						top: 2px;
						left: 0;
						&:before{
							content: "+";
						}
					}
					&.expanded{
						& > .expander{
							&:before{
								content: "–";
							}
						}
					}//end when expanded
				}//end parent

			}//end global li
		}//end first level ul
	}//end page menu wrapper
	
}//end .block--system-menu.page-menu nav


/* PATTERN LAB ONLY
-------------------- */
.pl .page-menu{
	& > ul:not(:first-of-type){
		display: none;
	}
} 