/* ===============
   layout builder admin theming
=================== */
//hide the builder label and only show it later when in layout builder
.builder-label{
	display: none;
}
.layout-section .layout-builder--layout__region{
	.draggable{
		@include spacer(2);
		max-height: 500px;
		overflow: hidden;
		min-height: 90px;
		*{
			word-break: break-all;
		}
	}
	//hide widget-anchors
	.widget-anchors{
		display: none;
	}
	//constrain widgets to editing box
	.field--name-field-oc-widgets{
		@include edgeReset;
		.section:first-child{
			margin-top: 0 !important;
		}
	}
	//show visually hidden labels
	.builder-label{
		display: inline-block;
		color: #ffffff;
		background: #bf0e0e;
		padding: 4px 8px;
		@include spacer(.25);
	}
}//end layout builder section region

//style entity block links different than normal block links in settings tray
#drupal-off-canvas{
	.block-categories{
		.links{
			a[href*="content/entity_field"]{
				opacity: .4;
			}
		}
	}
}
