/* ===============
   NODES GLOBAL
=================== */
@mixin centerTitle{
	padding-left: $siteMarginMobile;
	padding-right: $siteMarginMobile;
	max-width: $contentStop;
	text-align: center;
	@include auto;
}

/* GLOBAL SECTIONS
-------------------- */
.node-section{
	position: relative;
}

@mixin sectionLimit{
	max-width: $contentStop;
	@include auto;
}//end section limit

@mixin textContent{
	max-width: $textMax + 40px;
	padding-left: $siteMarginMobile;
	padding-right: $siteMarginMobile;
	@include auto;
}


/* BODY
-------------- */
.node-content .block-body{
	@include textContent;
	margin-bottom: $spaceXl;
}
