/* ===============
   NODES GLOBAL
=================== */

/* GLOBAL SECTIONS
-------------------- */
.node-section{
	position: relative;
}

@mixin sectionLimit{
	max-width: $contentStop;
	@include auto;
}//end section limit


/* BODY
-------------- */
.node-content .block-body{
	max-width: $textMax;
	@include auto;
	@include spacer(2);
}



/* unpub NODES
---------------------- */
.node--unpub{
	background: $unpub;
	border-top: 20px solid $unpubDark;
}
