/* ==============
	 SUPERFISH 
================ */

/* PLACEHOLDERS
------------ */
%menuDropdown{
	background: $sfDropdown;
	.background &{
		background: $sfDropdownRev;
	}
}


/* GLOBAL COLORS
	----------------- */
.sf-main li{
	a{
		color: $sfChildLink;
		text-align: left;
		.background &{
			color: $sfChildLinkRev;
		}
		&:hover,&:focus{
			color: $sfChildLinkHover;
			.background &{
				color: $sfChildLinkRevHover;
			}
		}
	}
	&.active-trail > a{
		color: $sfChildActive;
		.background &{
			color: $sfChildActiveRev;
		}
		&:hover,&:focus{
			color: $sfChildActiveHover;
			.background &{
				color: $sfChildActiveRevHover;
			}
		}
	}
}//end sf-main li



/* DESK FISH
---------------- */
.sf-menu.sf-horizontal{
	.background &{
		position: relative;
		&:after{
			@include fullBack($navBack);
		}
	}
	//override deafult floats
	li{
		float: none;
	}

	/* ====  sf main links ==== */
	&.sf-main{
		@include safeFlex(row,wrap,end,null);
		.left &{
			@include safeFlex(row,wrap,start,null);
			border-top: 1px solid $borderRule;
		}
		.center &{
			@include safeFlex(row,wrap,center,null);
			border-top: 1px solid $borderRule;
		}
		.inline &{
			@include safeFlex(row,wrap,start,null);
			padding-left: 80px;
		}
		.background &{
			border-top: none;
		}
		& > li{
			&:not(.sfHover){
				& > ul{
					display: none !important;
				}
			}
			& > a{
				color: $sfTopLink;
				padding: 20px 15px !important;
				font-size: 2rem;
				display: block;
				position: relative;
				.background &{
					color: $sfTopLinkRev;
				}
				&:hover,&:focus{
					background: $sfTopBackHover;
					color: $sfTopLinkHover;
					.background &{
						background: $sfTopBackHoverRev;
					}
				}
			}
			&.active-trail > a{
				color: $sfTopActive;
				&:hover,&:focus{
					color: $sfTopActiveHover;
				}
				.background &{
					color: $sfTopActiveRev;
				}
			}
		}
	}//end main links


	/* ====  sf main dropdown ==== */
	& > li.sf-depth-1{

		//dropdown wrapper
		& > ul{
			padding: 20px 0 0;
			top: 100%;
			min-width: 280px;
			@extend %menuDropdown;
			& > li{ 
				padding: 0;
				&:last-of-type{
					padding: 0 0 20px;
				}
			}
		}

	}//end main dropdown


	/* ==== TOGGLERS ==== */
	.sf-depth-2 {
		//global toggles
		a.menuparent{
			&:after{
				@include faSolid("\f105",inherit);
				display: inline-block;
				padding: 0;
				position: relative;
				right: -10px;
				opacity: 1;
			}
		}

		//level 2 togglers only
		& > a.menuparent{
			&:after{
				top: 1px;
				height: 18px;
				width: 18px;
				font-size: 2.6rem;
			}
		}

	}//end sf-depth 2 (global togglers)


	/* ====  Level 2 ==== */
	a.sf-depth-2{
		line-height: 1;
		padding: 12px 20px;
	}
	 

	/* ====  Level 3 ==== */

	//dropdown wrapper 
	.sf-depth-1 .sf-depth-2{
		ul{
			@extend %menuDropdown;
			left: 100%;
			top: 0px;
			min-width: 240px;
		}
	}

	//level 3
	li.sf-depth-2 li{
		font-size: 1.7rem;
		line-height: 1;
		& > a{
			padding-left: 40px;
			padding: 8px 20px 8px 40px;
			&.menuparent{
				padding: 8px 40px;
				//downsizing for all toggler 3 and below
				&:after{
					font-size: 2rem;
				}
			}
		}
	}//end a.level 3


}//end .sf-menu.sf-horizontal.sf-main




/* MOBILE FISH
----------------- */
		
/* ====  sf main dropdown ====*/
ul.sf-menu.sf-accordion{
	&.sf-expanded.sf-main{
		position: absolute;
		left: 0 !important;
		top: 100% !important;
		text-align: left;
		overflow: hidden;
		background: $sfMobileDrop;
		border-bottom: 8px solid $sfMobileDropBorder;
	}

	/* ====  global links ====*/
	a{
		padding: 20px 30px;
		line-height: 1.15;
	}

	//parents, expanders & dropdowns
	&.sf-accordion-with-buttons li{
		position: relative;
		& > .sf-accordion-button{
			width: 60px;
			height: 60px;
			text-indent: 9000px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			//expander toggle
			&:after{
				text-indent: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: 0;
				@include faSolid("\f105",30px);
				@include translate(-50%, -50%);
				background-color: transparent;
			}
		}//end accordion button

		&.menuparent{;
			a{
				display: block;
				&:not(.sf-accordion-button){
					width: 100%;
				}
			}
		}//end menupareny
		&.sf-expanded > .sf-accordion-button{
			&:after{
				@include faSolid("\f104",30px);
			}
		}
	}//end li

	

	li.sf-expanded > ul{
		padding: 0 0 10px;
	}


	/* ====  LEVEL 1  ====*/
	li.sf-depth-1{
		& > a{
			color: $sfMobileTop;
			background: $sfMobileTopBack;
		}
		&:not(:last-child){
			border-bottom: 1px solid $sfMobileItemBorder
		}
		&.sf-expanded{
			& > a{
				color: $sfMobileTopExpanded;
				background: $sfMobileTopBackExpanded;
				&:not(.sf-accordion-button){
					border-bottom: 3px solid $transBlack;
				}
			}
			& > ul{
				padding: 10px 0;
			}
		}
	}//end level 1


	/* ====  LEVEL 2  ====*/
	li.sf-depth-2{
		&:first-of-type.sf-expanded{
			border-top: 0;
		}
		&:last-of-type.sf-expanded{
			border-bottom: 0;
		}
		&.active-trail > a{
			color: $sfMobileChildActive;
		}
		//inset level2 and those below
		& > a{
			color: $sfMobileChild;
			&.sf-accordion-button{
				height: 40px;
			}
			&:not(.sf-accordion-button){
				padding: 10px 30px 10px 40px;
			}
		}
	}//end level 2


	/* ====  LEVEL 3 & Below ====*/
	li.sf-depth-3{
		//font size for level 3 and those below
		&.active-trail > a{
			color: $sfMobileChildActive;
		}
		a{
			color: $sfMobileChild;
			font-size: 15px;
			padding: 10px 30px;
			&.sf-accordion-button{
				&:after{
					font-size: 22px;
				}
			}
			&:not(.sf-accordion-button){
				padding: 10px 30px 10px 50px;
			}
		}
	}//end level 3

}//end sf-menu.sf-accordion





/* PATTERN LAB ONLY
------------------- */
.pl #superfish-main,.pl #superfish-main-accordion{
	li{
		list-style: none;
	}
	.sf-hidden{
		display: none;
	}

}//end pl

.pl .sf-dropdown{
	margin-bottom: 100px;
	.sf-main{
		display: block;
		li.sf-depth-1{
			max-width: 200px;
			background: $white;
			&:after{
				background: $white;
			}
			a{
				display: inline-block;
			}
		}
	}
	.menuparent{
		position: relative;
		& > ul{
			@include listReset;
			position: absolute;
			top: 100%;
			left: 0;
			min-width: 300px;
		}
	}
}//end sf-dropdown

.pl .sf-mobile{
	max-width: 500px;
	padding: 10px 20px 30px;
	background: $offWhite;
	a{
		display: block;
	}
	.sf-hidden{
		display: none;
	}
	ul{
		@include listReset;
		&.sf-main{
			position: relative;
		}
	}
	.sf-accordion-button{
		width: 60px;
		height: 100%;
		float: right;
		text-indent: -9000px;
		position: relative;
		&:after{
			content: '';
			text-indent: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: 0;
			display: block;
			@include translate(-50%, -50%);
		}
	}
}
