{#
/**
 * @file
 * Theme override for a field.
 *
 * Sets the link content and icon based on the url found for each link in the platforms link field.
 *
*?
#}

{% if 'facebook' in url %}
  {% set platformSafe, platform, platformIcon = 'facebook', 'Facebook', 'facebook-square' %}
{% elseif 'twitter' in url %}
  {% set platformSafe, platform, platformIcon = 'twitter', 'Twitter', 'twitter-square' %}
{% elseif 'linkedin' in url %}
  {% set platformSafe, platform, platformIcon = 'linkedin', 'LinkedIn', 'linkedin' %}
{% elseif 'youtube' in url %}
  {% set platformSafe, platform, platformIcon = 'youtube', 'Youtube', 'youtube-square' %}
{% elseif 'pinterest' in url %}
  {% set platformSafe, platform, platformIcon = 'pinterest', 'Pinterest', 'pinterest-square' %}
{% else %}
  {% set platformSafe, platform, platformIcon = 'generic', 'Unsupported sharing link', 'share-alt-square' %}
{% endif %}

<li><a href="{{ url }}" target="_blank" class="{{ platformSafe }}" aria-label="{{ platform }}" rel="noonopener noreferrer"><i class="fab fa-{{ platformIcon }}"></i></a></li>
