/* ================
	PULLQUOTE WIDGET
======================= */
.paragraph--type--pullquote{
	max-width: $textMax;
	@include auto;
	.widget-title{
		margin-bottom: $spaceMd;
	}
	//quote text
	.field-oc-long-text{
		@include quote;
	}//end long text

	//source
	.field-oc-short-text{
		text-align: right;
		position: relative;
		font-weight: bold;
		text-transform: uppercase;
		&:before{
			content: '–';
			left: -1.25em;
		}
		@include tab{
			font-size: 18px;
		}
	}
}//end pullquote widget
