/**
 * @file
 * Visual styles for a resizable textarea.
 */


/* style media image fields inside admin widgets */
.field--widget-entity-reference-paragraphs img{
  max-width: 100%;
  height: auto;
}

.field--widget-entity-reference-paragraphs .item-container.rendered-entity{
  width: 100%;
}
.field--widget-entity-reference-paragraphs .item-container > input{
  display: inline-block;
}
.field--widget-entity-reference-paragraphs .view-mode-media-thumbnail{
  width: 100%;

}


