<a name="templates-layouts" id="templates-layouts"></a>

<div class="doc-text">
	<p>Templates drupal file location, layouts.yml, inheritance from twig, icons (where to find icons ai file), oc_patterns layouts vs global block regions. Some guides as to when to add new regions / layouts.</p>
	<div class="doc-section">
		<h4 class="doc-section-title"></h4>
		<div class="doc-section-inner">
			<p></p>
		</div>
	</div>
</div>


