/* ===============
   SEARCH 	
================= */


/* SEARCH PAGE
------------------ */
.path-site-search{

	//move superfish toggle over because no search icon
	#superfish-main-toggle{
		right: 20px;
	}

	//prevent contextual links interference when logged in
	.views-element-container{
		position: static;
	}

	.page-main{
		position: relative;
	}

	.layout-content{
		padding: 2em 20px 0 !important; 
		.site-search{
			h1{
				@include tab{
					color: $black;
				}
			}
			.block-search-form-block{
				margin-top: 2em;
				margin-bottom: 2em;
				display: block;
				width: 100%;
				position: relative;
				//hide header search block toggle;
				.t-search-wrapper{
					display: none;
				}

				//show non-header search block and set to max-width
				.search-form-wrapper{
					display: block;
					position: relative;
					width: 100%;
					left: 0;
					top: 0;
					z-index: 2;
				}

				#views-exposed-form-site-search-search-results{
					padding: 50px 20px;
					background: $lightGrey;
					.form-item-search-api-fulltext{
						max-width: 590px;
						label{
							display: none;
						}
						input{
							background: $siteBack;
							color: $black;
							padding-left: 20px;
							padding-right: 20px;
							font-style: italic;
							@include placeholder;
							//prevent yellow chrome autofill inset 
							&:-webkit-autofill{
								-webkit-box-shadow: 0 0 0 1000px $white inset;
							}
							&:focus{
								@include placeholderFocus;
							}
						}
					}
					.form-actions{
						max-width: 590px;
						input{
							height: 24px;
							width: 24px;
							top: -42px;
							right: 18px;
							&:hover,&:active,&:focus{
								& + i{
									opacity: .4;
								}
							}
						}
						i{
							top: -42px;
							right: 18px;
							font-size: 24px;
							color: $black;
							@include tab{
								top: -46px;
								font-size: 26px;
							}
						}
					}
				}//end foirm
			}//end block search form

			h2.results-header{
				margin-top: 2em;
				@include safeFlexSize(0,0,100%);
				padding-bottom: .5em;
				border-bottom: 1px solid $borderRule;
				margin-bottom: .5em;
			}
			.view-content,.view-empty{
				@include safeFlexSize(0,0,100%);
				margin-bottom: 3em;
			}
		}//site-search
	}//layout content

}//end search page




/* PATTERN LAB ONLY
------------------ */
.pl .search-header a{
	&:hover,&:focus{
		@include transAll(.3s);
	}
}



