/* ==============
	 BUTTONS
================== */

/* BUTTON MIXINS
------------------ */

///mixin - button
@mixin button{
	background-color: $link;
	border:none;
	color: $white;
	line-height: 1.15;
	padding: 1rem 4rem;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: $header;
	font-weight: $heavy;
	margin-bottom: $spaceMd;
	.text-with-summary &,.text-long &{
		padding: 0;
		a{
			padding: 1rem 4rem;
			display: block;
		}
	}
	&:hover,&:focus {
		color: $white;
		background-color: $hoverLink;
		@include transAll(.3s);
		a{
			color: $white;
			text-decoration: none;
		}
	}
	a{
		color: $white;
	}
}//end button mixin

///mixin - outlineButton
@mixin outlineButton($outlineColor){
	@include button;
	background: transparent;
	border: 2px solid $outlineColor;
	color: $outlineColor;
	a{
		color: $outlineColor;
	}
	&:hover,&:focus{
		background: $outlineColor;
		color: $white;
		border-color: $outlineColor;
		@include transAll(.3s);
	}
}

@mixin submitButton{
	@include button;
	background: $link;
	color: $white;
	height: 43px;
	&:hover,&:focus{
		background: $grey;
		border-color: $grey;
		color: $black;
	}
}

@mixin resetButton{
	@include button;
	background: $darkGrey;
	color: $white;
	border-color: $darkGrey;
	height: 43px;
	&:hover,&:focus{
		background: $grey;
		border-color: $grey;
		color: $black;
	}
}

//button class
.button {
	@include button;
	max-width: 260px;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: $spaceMd;
}

//outlineButtons
.button-outline{
	@include outlineButton($link);
}

/* LAYOUT BUILDER BUTTONS
------------------ */
#block-citizen-patterns-local-tasks .tabs.secondary a{
	background: $link !important;
	border-color: $link;
	color: $white;
	padding: 5px 10px;
	font-weight: bold;
	&:hover, &:focus, &.is-active{
		background: $white !important;
		color: $link;
		border-color: $link;
	}
}


/* PATTERN LAB ONLY
--------------- */

//background for outlineButton example
.pl.background{
	padding: 4rem 6rem;
	width: 100%;
	background: $hoverLink;
}
