/* ===================
	WIDGETS GLOBAL
===================== */

//widgets parent field
.field--name-field-oc-widgets {
	//use flex to support layout field
	@include safeFlex(row,wrap,null,null);
	//override layout padding
	@include edgeToEdge;
	// preserve layout padding and prevent backgrounds from overflowing when next to sidebars
	.beaker .main &,.bunsen .main &{
		overflow: hidden;
		@include tab{
			@include edgeReset;
		}
	}	
}


/* ===========
SECTION LAYOUTS
============= */
.paragraph{
	width: 100%;
}

/* WIDGETS FLEX ITEMS
--------------------- */
.section{
	width: 100%;
	padding-left: $siteMarginMobile;
	padding-right: $siteMarginMobile;
	position: relative;

	&:not(.background){
		padding-top: $spaceXl;
		padding-bottom: $spaceXl;
		& + .section:not(.background){
			padding-top: 0;
		}
	}
	&.background{
		padding-bottom: $spaceXl;
		padding-top: $spaceXl;
	}

	.field-section-title{
		padding-left: $siteMarginMobile;
		padding-right: $siteMarginMobile;
	}
	.field-section-intro{
		max-width: $textMax + 40px;
		padding-left: $siteMarginMobile;
		padding-right: $siteMarginMobile;
		margin-bottom: $spaceMd;
		@include auto;
	}

	//default section layout
	.field-section-widgets{
		position: relative;
		z-index: 4;
		@include safeFlex(row,wrap,null,null);
		max-width: $contentStop + 40px;
		padding-left: $siteMarginMobile;
		padding-right: $siteMarginMobile;
		@include auto;
		& > .section-item{
			width: 100%;
			//need mins so that js can calculate width and height (for slider)
			min-height: 0;
			min-width: 0;
			&:not(:last-child){
				margin-bottom: $spaceLg;
			}
		}
	}//end field section widgets

	&.columned{
		.field-section-widgets{
			& > .section-item{
				@include tab{
					width: 50%;
					&:nth-child(odd):not(:only-of-type){
						padding-right: 30px;
					}
					&:nth-child(even){
						padding-left: 30px;
					}
					&:nth-last-child(2){
						margin-bottom: 0;
					}
				}
			}
		}
	}//end columned

	&.left{
		.field-section-widgets{
			& > .section-item{
				@include tab{
					width: 50%;
					margin-right: 100px;
					padding-right: 30px;
				}
			}
		}
	}//end left

	&.right{
		.field-section-widgets{
			@include safeFlex(row,wrap,end,null);
			& > .section-item{
				@include tab{
					width: 50%;
					margin-left: 100px;
					padding-left: 30px;
				}
			}
		}
	}//end right

	/* background styles
	--------------------- */
	&.grey{
		background: $lightGrey;
	}

	&.image{
		position: relative;
		background-size: cover;
		@include darkBack;
		& > *{
			position: relative;
			z-index: 1;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $imgOverlay;
		}
	}

}//end section


//Anchor Links
.widget-anchors{
	max-width: $contentStop;
	padding-left: $siteMarginMobile;
	padding-right: $siteMarginMobile;
	padding-top: 2rem;
	padding-bottom: 2rem;	
	text-align: center;
	position: relative;
	z-index: 1;
	@include auto;
	&:after{
		@include fullBack($grey);
	}
	h2#toc-title{			
		margin-bottom: 0;
		@include tab{
			@include visuallyHidden;
		}
		a{
			font-size: 2.4rem;
			color: $black;
			font-weight: $regular;
			i{
				margin-right: 1rem;
			}
		}
	}
	.anchors{
		display: none;
		padding-top: 2rem;
		@include tab{
			display: block !important;
			@include bleed(20px);
			padding-bottom: 2rem;
		}
	}
	a{
		padding: 15px 10px;
		position: relative;
		display: block;
		font-family: $header;s
		&:hover,&:focus{
			color: $hoverLink;
		}
		&:not(:last-child):after{
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			right: 50%;
			width: 100px;
			margin-right: -50px;
			background: $black;
			height: 1px;
		}
		@include tab{
			display: inline-block;
			padding: 0 10px;
			font-size: 2.2rem;
			&:not(:last-child):after{
				height: 70%;
				width: 1px;
				top: 18%;
				right: -.5px;
				margin-right: 0;
			}
		}
		@include contentStop{
			font-size: 2.4rem;
		}
	}//end a 

	//snug up first section if it has a background
	& + .field--name-field-oc-widgets > .section:first-child:not(.background){
		margin-top: $spaceLg;
	}

}//end widget anchors (in this section)



/* WIDGETS WITHOUT SPECIFIC PL FOLDERS
--------------------- */

//admin view-placer
.paragraph--type--admin-view-placer{
	.wrapper{
		max-width: 100% !important;
	}
}


