/* ===================
   SUPERFISH BLOCK 
====================== */

#superfish-main-toggle{
	display: block;
	position: absolute;
	height: 30px;
	width: 30px;
	top: 17px;
	right: 50px;
	span{
		display: none;
	}
	&:before{
		@include fontAwesome('\f0c9');
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 28px;
		color: $black;
		line-height: 28px;
	}
	&:hover,&:focus{
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: -1px;
			right: 0;
			width: 24px;
			height: 1px;
			background: $black;
		}
	}
	&.sf-expanded{
		&:before{
			content: '\f057';
		}
	}
}//end superfish-main-toggle