{#
	STYLEGUIDE:
#}

{% embed '@composites/02-paragraphs/00-base/_paragraphs-field-item.twig' %}
  {% block paragraphItem %}
    {% embed '@composites/02-paragraphs/00-base/_paragraph.twig' 
      with{
        sectionTitle: '',
        sectionIntro: '',
      }
    %}

    	{% block widgetContent %}
    		{% if quote %}
    			{% autoescape false %}
    				<div class="field field-quote text-long">
	    				{{- quote -}}
	    			</div>
    			{% endautoescape %}
    		{% endif %}
    		{% if source %}
    			<div class="field field-source string">
    				{{- source -}}
    			</div>
    		{% endif %}
    	{% endblock %}

    {% endembed %}
  {% endblock %}
{% endembed %}