/* ============
PAGERS
================= */


/* MIXINS
------------- */

$pager-line: 2.4rem;

///mixin - pagerItemStyle
@mixin pagerItemStyle{
	display: block;
	min-width: 26px;
	height: 26px;
	padding: 0px 3px;
	line-height: $pager-line;
	font-weight: bold;
	text-align: center;
	border-radius: 6px;
	&:hover,&:focus{
		color: $hoverLink;
		text-decoration: none;
		@include transAll(.3s);
	}
}

///mixin - pagerNumbers
@mixin pagerNumbers{
	@include safeFlexSize(0,0,100%);
	text-align: center;
	@include tab{
		border-top: 1px solid $borderRule;
		border-bottom: 1px solid $borderRule;
		@include safeFlexSize(1,1,auto);
	}
	.pager{
		position: relative;
		padding: 6px 0 26px;
		.pager__item a{
			font-family: $header;
			font-weight: $heavy;
		}
		.pager__item:not(.pager__item--first):not(.pager__item--previous):not(.pager__item--next):not(.pager__item--last) a{
			font-family: $header;
			font-weight: $heavy;
		}
		@include tab{
			padding: 20px 0 18px;
			.js-pager__items{
				@include safeFlex(row,wrap,end,start);
			}
		}
	}
}

///mixin - pagerResults
@mixin pagerResults{
	border-top: 1px solid $borderRule;
	border-bottom: 1px solid $borderRule;
	margin-bottom: $spaceSm;
	@include calc(width, "100% + 40px");
	@include edgeToEdge;
	div{
		position: relative;
		padding: 20px 0;
		text-align: center;
		font-size: 18px;
		font-family: $header;
		color: $darkGrey;
		span{
			text-transform: uppercase;
		}
	}
	@include tab{
		width: 200px;
		margin-bottom: 0;
		@include edgeReset;
		div{
			padding: 20px 0 18px;
			text-align: left;
		}
	}
}

/* GLOBAL PAGER STYLING
-------------------- */
.js-pager__items{
	@include listReset;
	text-align: center;
	@include safeFlex(row,wrap,null,null);
	li{
		*{
			line-height: $pager-line;
			display: block;
			font-weight: $heavy;
		}
		&:not(:first-child):not(:last-child){
			margin: 0 .5rem;
		}
	}
}

/* FULL PAGER
---------------- */
.pager-bar{
	@include safeFlex(row,wrap,null,null);
	margin-top: 20px;
	.view-footer{
		width: 49%;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		@include onlySmall{
			width: calc(100% + 40px);
			margin-bottom: 1em;
			margin-left: -20px;
			margin-right: -20px;
		}
		.footer-inner{
			padding: 20px 0 18px;
			text-align: left;
			border-top: 1px solid $borderRule;
    	border-bottom: 1px solid $borderRule;
			@include onlySmall{
				text-align: center;
			}
		}
	}
	.bottom-pager{
		border-top: 1px solid $borderRule;
		border-bottom: 1px solid $borderRule;
		-webkit-box-flex: 1;
		flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		@include onlySmall{
			border: 0px;
		}
		.js-pager__items{
			@include safeFlex(row,wrap,end,start);
      padding: 20px 0 18px;
			@include onlySmall{
				@include safeFlex(row,wrap,center,start);
			}
		}
	}
}

.pager{
	//page number styling;
	.pager__item:not(.pager__item--first):not(.pager__item--previous):not(.pager__item--next):not(.pager__item--last){
		a{
			@include pagerItemStyle;
		}
		&.is-active{
			a{
				color: $white;
				background: $link;
				&:hover,&:focus{
					background: $hoverLink;
				}
			}
		}
	}//end page number items

	//previous styling
	.pager__item--previous{
		a{
			display: none;
		}
	}

	//next styling
	.pager__item--next{
		a{
			display: none;
		}
	}
}//end full .pager


/* MINI PAGER
---------------- */
nav:not(.pager){
	.js-pager__items{
		li{
			color: $black;
			margin: 0 1rem;
			@include larger;
			line-height: 2.6rem;
		}
		//pager controls
		li a{
			@include pagerItemStyle;
			span{
				position: relative;
				top: -1px;
			}
		}
	}//end js-pager-items
}//end mini pager


/* FLIPPY PAGER
------------------- */
ul.flippy{
	@include listReset;
	@include safeFlex(row,wrap,null,null);
	li{
		@include baseFontSize;
		padding: 15px 0;
		width: 50%;
		&.flippy-next{
			text-align: right;
		}
	}
}//end flippy


/* PATTERN LAB ONLY
----------------- */
.pl{
	.block-flippy-block{
		padding: 0 20px;
	}
}
