/* ========================
  BUTTONS
========================== */
$buttonPadding: 1.15rem 1.5rem 1rem;

///mixin - button
@mixin button{
	background-image: none;
	background-color: $buttonBack;
	border: none;
	border-radius: 0;
	color: $buttonText;
	line-height: 1.15;
	padding: $buttonPadding;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .04em;
	font-weight: $heavy;
	font-size: $button;
	margin-bottom: $spaceMd;
	margin-left: 0;
	margin-right: 0;
	@include transColor(.3s);
	&:hover,&:focus {
		color: $buttonTextHover;
		background-color: $buttonBackHover;
		box-shadow: none;
		outline: none;
		padding: $buttonPadding;
	}
	&:active{
		color: $buttonTextActive;
		background-color: $buttonBackActive;
	}
}//end button mixin

///mixin - outlineButton
@mixin outlineButton($outlineColor){
	@include button;
	background: transparent;
	border: 1px solid $outlineColor;
	color: $outlineColor;
	border-radius: 3px;
	&:hover,&:focus{
		background: $buttonBackHover;
		color: $buttonTextHover;
		border-color: $buttonBackHover;
	}
	&:active{
		background: $buttonBackActive;
		color: $buttonTextActive;
		border-color: $buttonBackActive;
	}
}

@mixin submitButton{
	@include button;
	background: $submitBack;
	color: $submitText;
	height: auto;
	min-width: 115px;
	margin-top: 0;
	&:hover,&:focus{
		background: $submitBackHover;
		border-color: $submitBackHover;
		color: $submitTextHover;
	}
}

@mixin altButton{
	@include submitButton;
	background: $altBack;
	color: $altText;
	&:hover,&:focus{
		background: $altBackHover;
		border-color: $altBackHover;
		color: $altTextHover;
	}
}

@mixin resetButton{
	@include submitButton;
	background: $resetBack;
	color: $resetText;
	border-color: $resetBack;
	&:hover,&:focus{
		background: $resetBackHover;
		border-color: $resetBackHover;
		color: $resetTextHover;
	}
}

@mixin cautionButton{
	@include submitButton;
	background: $cautionBack;
	color: $cautionText;
	border-color: $cautionBack;
	&:hover,&:focus{
		background: $cautionBackHover;
		border-color: $cautionBackHover;
		color: $cautionTextHover;
	}
}

.button{
	@include button;
}
.button--danger,#edit-reset{
	@include resetButton;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	@include smallTab{
		width: auto;
	}
}//end reset danger buttons
.button[data-drupal-selector="edit-cancel"],.button[data-drupal-selector="edit-actions-cancel"]{
	@include cautionButton;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	@include smallTab{
		width: auto;
	}
}//end reset danger buttons
#edit-preview{
	@include altButton;
	background: $altBack !important;
	color: $altText !important;
	&:hover,&:focus{
		background: $altBackHover !important;
		border-color: $altBackHover !important;
		color: $altTextHover !important;
	}
	&:active{
		background: $buttonBackActive;
	}
}//end preview
.button--primary {
	@include button;
	background: $primaryButtonBack;
	color: $primaryButtonText;
	&:hover,&:focus{
		background: $primaryBackHover;
		color: $primaryTextHover;
	}
	&:active{
		background: $primaryBackActive;
		color: $primaryTextActive;
	}
	&.button--small{
		@extend .button--small;
	}
}//end button primary
.button-outline{
	@include outlineButton($link);
}

.button,.no-touchevents .button--small{
	font-size: $baseSize;
	padding: $buttonPadding;
}

.button-action{
	&:before{
		font-size: $baseSize;
	}
}

#edit-clear-cache{
	.button{
		@include altButton;
	}
}
