/* ==============
	 MEDIA
================== */
.media-library-item__attributes{
	min-height: 22px;
}

/* CAPTION FIELD
------------------- */
.field--name-field-caption{
	.js-form-type-textarea{
		textarea{
			max-width: 600px;
			max-height: 76px;
		}
	}
}

/* FOCAL POINT THUMBNAIL
-------------------------- */
.focal-point-preview-link{
	margin-top: .75rem;
}

/* CUSTOM DOCUMENT ICONS
----------------------- */
%customIconWrap{
	display: block;
	height: auto;
  width: 100%;
  background-color: #f6f6f6;
  background-image: url('../images/icons/file/generic.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px 72px;
  margin-bottom: .5rem;
  padding-bottom: 60%;
}
%pdf{
	background-image: url('../images/icons/file/pdf.svg');
}
%word{
	background-image: url('../images/icons/file/word.svg');
}
%excel{
	background-image: url('../images/icons/file/excel.svg');
}
%powerpoint{
	background-image: url('../images/icons/file/powerpoint.svg');
}

//icons in browser
.eb-media .views-field .file-extension{
	& > span{
		@extend %customIconWrap;
		img{
			display: none;
		}
		&[class$='.pdf']{
			@extend %pdf;
		}
		&[class$='.doc'],&[class$='.docx']{
			@extend %word;
		}
		&[class$='.xls'],&[class$='.xlsx']{
			@extend %excel;
		}
		&[class$='.ppt'],&[class$='.pptx']{
			@extend %powerpoint;
		}
	}
}//end file extension & thumbnail fields

.eb-media.view-display-id-embed_browser .views-field-thumbnail__target-id{
	& > span.doc{
		@extend %customIconWrap;
		&[class$='pdf']{
			@extend %pdf;
		}
		&[class$='doc'],&[class$='docx']{
			@extend %excel;
		}
		&[class$='xls'],&[class$='xlsx']{
			@extend %word;
		}
		&[class$='ppt'],&[class$='pptx']{
			@extend %powerpoint;
		}
		img{
			display: none;
		}
	}
}

//icons on main media view list
.view-media.view-display-id-media_page_list{
	.views-field-thumbnail__target-id span.doc{
		display: block;
		height: 75px;
		width: 60px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		&[class$='pdf']{
			@extend %pdf;
		}
		&[class$='doc'],&[class$='docx']{
			@extend %excel;
		}
		&[class$='xls'],&[class$='xlsx']{
			@extend %word;
		}
		&[class$='ppt'],&[class$='pptx']{
			@extend %powerpoint;
		}
		img{
			display: none;
		}
	}
}//end media view list

/* FILE ICONS
--------------- */
%docIcons{
	position: relative;
	padding-left: 20px;
	&:hover:before,&:focus:before{
		opacity: .7;
	}
	&:before{
		content:'';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 16px 16px;
	}
}
.text-with-summary,.text-long,span.file{
	a[href$='.pdf']{
		@extend %docIcons;
		&:before{			
			@extend %pdf;
		}	
	}

	//word
	a[href$='.doc'],a[href$=".docx"]{
		@extend %docIcons;
		&:before{
			@extend %word;
		}
	}
	//excel
	a[href$='.xls'],a[href$=".xlsx"]{
		@extend %docIcons;
		&:before{
			@extend %excel;
		}
	}
	//powerpoint
	a[href$='.ppt'],a[href$=".pptx"]{
		@extend %docIcons;
		&:before{
			@extend %powerpoint;
		}
	}
}//end wysiwyg fields

/* GENERIC FILES */
span.file{
	background-image: none;
	padding-left: 0;
	a{
		@extend %docIcons;
		&:before{
			background-image: url('../images/icons/file/generic.svg');
		}
	}
}


