/* ==================
	 STELYGUIDE ONLY SCSS
==================== */

/* PL SPECIFIC COLORS
----------------------- */
$plBlue  : #017aa2;
$plGrey  : #787878;
$plDkGrey: #4a4a4a;
$plBlack : #000000;
$plLink  : #bf0e0e;
$plBorder: #333333;



.pl {
	.sg-main{
		padding-top: $spaceLg;
	}

	//section links
	.patternLink {
		color: red;
		text-transform: uppercase;
	}

	.visually-hidden {
		@include visuallyHidden;
	}

	.sg-main{

	}
	#sg-patterns{
		padding: 0;
	}
	.sg-pattern {
		clear: left;
		margin-bottom: 0;
		padding-bottom: $spaceLg;
		padding-left: 1rem;
		padding-right: 1rem;
		&:not(#organisms-reveal-group){
			background: $siteBack;
		}
	}
	.sg-subtype{
		background: $siteBack;
		padding-left: 1rem;
		padding-right: 1rem;
		& > h2{
			margin-bottom: 0;
			padding: 1rem 0;
			border-top: 2px solid $plBorder;
			border-bottom: 2px solid $plBorder;
			& > a{
				cursor: default;
				pointer-events: none;
			}
		}
	}

	.sg-pattern-title > a{
		cursor: default;
		pointer-events: none;
	}

	//icon row
	#icons {
		@include safeFlex(row,wrap,null,null);
		& > div {
			border: 1px solid #eee;
			padding: 1em;
			text-align: center;
		}
	}

	//in-template notes
	&.notes{
		@include xSmaller;
		opacity: .8;
		font-style: italic;
		margin-bottom: $spaceLg;
		width: 100%;
	}

	.flex-holder{
		@include safeFlex(row,wrap,start,start);
		width: 100%;
		.flex-half{
			width: 50%;
			padding: 0 $siteMarginMobile;
		}
	}

	//spacer shim
	.pl-spacer{
		margin-top: $spaceMd;
	}

	//alerts
	.pl-alert{
		text-align: center;
		max-width: 60%;
		margin: $spaceLg auto;
		border: 2px solid $plLink;
		padding: 2rem 4rem;
		@include onlySmall{
			display: none;
		}
	}

	//layout region placeholders
	.region-placeholder{
		background: #ddd;
		width: 100%;
		height: 100%;
		@include safeFlex(column,null,center,null);
		text-align: center;
		h3{
			margin-bottom: 0;
		}
	}

	.clean-list{
		@include listReset;
	}

}//end pl


/* GRID VARIABLES
---------------- */
.pl #base-grid{
	strong{
		color: $plBlue;
	}
}


/* MACROS
----------- */
.pl .macro-tile{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-bottom: $spaceSm;
	@include tab{
		width: 30%;
		padding-right: 2%;
	}
}


/* MIXINS REFERENCES
------------ */
.pl{
	.mixin-group:not(:first-of-type){
		margin-top: $spaceMd;
	}
	.mixin-tile{
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin-bottom: $spaceSm;
		ul{
			@include listReset;
			.include-tag{
				color: $plBlue;
			}
			.similar{
				margin-top: $spaceXs;
			}
		}
		@include tab{
			width: 21%;
			padding-right: 2%;
		}
	}
}



/* FLEX LAYOUTS
-------------- */
.pl #base-flex-single .wrapper,.pl #base-flex-three-quarter .wrapper,.pl #base-flex-two-third .wrapper{
	max-width: 1000%;
}
.pl-flex-row{
	@include safeFlex(row,wrap,null,null);
}


/* Superfish base
------------------- */
.pl{
	ul.sf-main{
		@include listReset;
	}
	.sf-desk{
		li.sf-depth-1{
			display: inline-block;
			position: relative;
		}
		ul.sf-hidden{
			display: none;
		}
	}//end sf-desk
	.flex-half.sf-dropdown{
		@include safeFlex(row,wrap,start,start);
	}
}//end pl


/* EMBEDDED VIDEOS
------------------- */
.pl .video-embed-field-responsive-video{
	position: relative;
	&:after{
		content: '';
		display: block;
		padding-bottom: 56.25%;
	}
	iframe{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
	}
}


/* SITE HEADER
------------------ */
.pl .layout-container > header{
	@include mobileStop{
		.sf-horizontal{
			display: none;
		}
	}
	@include desk{
		.sf-accordion-toggle{
			display: none;
		}
	}
}

/* WIDGETS
----------------- */
.pl #organisms-accordion{
	padding: 0 20px;
}



/* DOCUMENTATION
------------------- */
.pl{
	.doc-section{
		margin-bottom: $spaceLg * 2;
		.doc-section-title{
			color: $plLink;
			background: #dedede;
			padding: .5rem 3em;
			margin-bottom: $spaceLg;
		}
		.doc-section-inner{
			max-width: 800px;
			@include auto;
		}
	}
	ol,ul{
		&.themed{
			& > li{
				margin-bottom: $spaceSm;
				padding: 1rem 2rem;
				&:hover{
					background: #efefef;
				}
				& > a{
					font-weight: 700;
					color: $plBlack;
					@include larger;
					&:hover,&:focus{
						color: $plLink;
					}
				}
				ol,ul{
					background: none;
					color: $plDkGrey;
					padding-top: 1rem;
				}
				li{
					margin-bottom: $spaceXs;
					a{
						color: $plGrey;
						&:hover,&:focus{
							color: $plLink;
						}
					}
				}
			}
		}//end themed
		&.spaced{
			li{
				margin-bottom: $spaceXs;
			}
		}
	}//end ol,ul

	ol{
		&.big-number{
			counter-reset: item-counter;
			& > li{
				list-style-type: none;
				position: relative;
				margin-bottom: $spaceMd;
				padding-left: 20px;
				@include tab{
					padding-left: 30px;
				}
				&:before{
					content: counter(item-counter, decimal) ".";
					counter-increment: item-counter;
					margin-right: 2rem;
					font-size: 3.6rem;
					font-weight: 700;
					line-height: 1;
					color: $plLink;
					position: absolute;
					left: -30px;
					top: 0;
					font-family: Georgia, "Times New Roman", Times, serif;
					@include tab{
						font-size: 5.4rem;
						left: -40px;
						top: -8px;
					}
				}
			}//end li
		}//end big-number
	}//end ol

	.two-col{
		@include safeFlex(row,wrap,null,null);
		& > li{
			display: inline-block;
			width: 100%;
			@include tab{
				width: 50%;
			}
		}
	}

	.two-col-vert{
		@include tab{
			@include cssColumns(2,40px,nobreak);
			& > li{
				display: inline-block;
				width: 100%;
			}
		}
	}

	.three-col{
		@include safeFlex(row,wrap,null,null);
		& > li{
			display: inline-block;
			width: 100%;
			@include tab{
				width: 33.333%;
			}
		}
	}

	.three-col-vert{
		@include tab{
			@include cssColumns(3,40px,nobreak);
			& > li{
				width: 100%;
				display: inline-block;
			}
		}
	}

	.list-counter{
		counter-reset: item-counter;
		& > li:before{
			content: counter(item-counter, decimal) ".";
			counter-increment: item-counter;
			margin-right: 2rem;
		}
	}

	span.code{
		color: $plBlue;
	}

	p.subtext{
		padding-left: 60px;
		@include smaller;
	}
	
}//end pl

