/* =============
   NEWS NODE
================ */
.node--type-news{

	.field-banner{
		img{
			display: block;
			width: 100%;
		}
	}

	.block-entity-fieldnodecreated{
		margin-bottom: 1.5em;
	}


}//end news