{#
	 DRUPAL: This template is extended into the node.html.twig template.
#}

<article{% block attributes%} class="node-content node-{{ machineName }}"{% endblock %}>
	{% block nodeMeta %}{% endblock %}
	<div class="main-node-content">
		{% block node %}{% endblock %}
	</div>
</article>